<div class="row" style="margin-top: -20px !important;">
  <div class="col body33">
    <h1 class="h128">Звук</h1>
    <div class="frame-parent131">
      <div class="parent197">
        <div class="div1294">Микрофон</div>
        <div class="select31">
          <div class="bag24">
            <div class="image-17"></div>
          </div>
          <div class="ic-action-exit-to-app-wrapper29">
            <img class="ic-action-exit-to-app129" alt="" />
          </div>
          <div class="select-frame">
            <div class="div1295">Internal Microphione</div>
          </div>
          <img
            class="ic-hardware-keyboard-arrow147"
            alt=""
            src="assets/img/ic--hardware--keyboard-arrow-down-37.svg"
          />
        </div>
      </div>
      <div class="frame-rectangle">
        <div class="div1296">Вывод звука</div>
        <div class="select32">
          <div class="bag25">
            <div class="image-18"></div>
          </div>
          <div class="ic-action-exit-to-app-wrapper30">
            <img class="ic-action-exit-to-app130" alt="" />
          </div>
          <div class="output-sound">
            <div class="div1297">По умолчанию - Interal Speakers</div>
          </div>
          <img
            class="ic-hardware-keyboard-arrow148"
            alt=""
            src="assets/img/ic--hardware--keyboard-arrow-down-37.svg"
          />
        </div>
      </div>
    </div>
    <div class="mute-button">
      <div class="div1298">Проверка звука</div>
      <div class="audio-check-frame">
        <div class="five-sound-rects"></div>
        <div class="first-sound-rectangle"></div>
        <div class="second-sound-rectangle"></div>
        <div class="third-sound-rectangle"></div>
        <div class="fourth-sound-rectangle"></div>
        <div class="fifth-sound-rectangle"></div>
        <div class="sixth-sound-rectangle"></div>
        <div class="seventh-sound-rectangle"></div>
        <div class="eighth-sound-rectangle"></div>
      </div>
    </div>
  </div>
  <div class="col body33" style="margin-left: 10px; width: 670px !important;">
    <h1 class="h128">Камера</h1>
    <div class="frame-parent131">
      <div class="select-container">
        <div class="select33">
          <div class="bag26">
            <div class="image-19"></div>
          </div>
          <div class="ic-action-exit-to-app-wrapper31">
            <img class="ic-action-exit-to-app131" alt="" />
          </div>
          <div class="wrapper57">
            <div class="div1299">FaceTime HD Camera</div>
          </div>
          <img
            class="ic-hardware-keyboard-arrow149"
            alt=""
            src="assets/img/ic--hardware--keyboard-arrow-down-37.svg"
          />
        </div>
        <div class="ic-toggle-toggle-off-parent">
          <img
            class="ic-toggle-toggle-off"
            loading="eager"
            alt=""
            src="assets/img/ic--toggle--toggle-off.svg"
          />
          <div class="div1300">
            Показывать для меня моё видео на встрече
          </div>
        </div>
      </div>
    </div>
    <textarea class="rectangle-textarea" rows="{10}" cols="{32}">
    </textarea>
  </div>
</div>
