.h121 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.input108,
.label96 {
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  align-items: center;
}
.input108 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--description-size);
  min-width: 240px;
}
.label96 {
  width: 318px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  text-align: left;
  display: none;
}
.ic-action-exit-to-app70 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content-child3 {
  width: calc(100% - 46px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 16px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 224px;
  max-width: 100%;
}
.ic-image-remove-red-eye5 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.content76,
.doctor-name-frame1,
.input109 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.content76 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.doctor-name-frame1,
.input109 {
  flex-direction: column;
  align-items: flex-start;
}
.input109 {
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.doctor-name-frame1 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ic-hardware-keyboard-arrow57 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div418 {
  position: relative;
  font-size: var(--description-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-green-1);
  text-align: left;
}
.text56 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
}
.ic-hardware-keyboard-arrow58 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button57 {
  cursor: pointer;
  border: 1px solid var(--color-primary-green-1);
  padding: var(--padding-3xs) var(--padding-2xs);
  background-color: transparent;
  width: 99px;
  border-radius: var(--br-981xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.ic-navigation-arrow-forwar21 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div419 {
  position: relative;
  font-size: var(--description-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-white);
  text-align: left;
}
.text57 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
}
.ic-action-done13 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button58,
.login-button-frame {
  display: flex;
  flex-direction: row;
}
.button58 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--color-primary-green-1);
  flex: 1;
  border-radius: var(--br-981xl);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 51px;
}
.login-button-frame {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.auth-frame5,
.body16,
.text-input-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-input-frame {
  margin: 0;
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.auth-frame5,
.body16 {
  align-items: center;
  box-sizing: border-box;
}
.body16 {
  width: 500px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  padding: var(--padding-31xl);
  gap: var(--gap-11xl);
  max-width: 100%;
}
.auth-frame5 {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-green-2);
  overflow: hidden;
  padding: var(--padding-181xl) var(--padding-9xl) var(--padding-11xl);
  min-height: 960px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--color-primary-green-1);
  font-family: var(--body-20);
}
@media screen and (max-width: 750px) {
  .h121 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
}
@media screen and (max-width: 675px) {
  .body16 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h121 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
}
