.image-8-icon17 {
  height: 42px;
  width: 38.2px;
  position: relative;
  object-fit: cover;
  min-height: 42px;
}
.p38,
.p39 {
  margin: 0;
}
.p39 {
  font-size: var(--font-size-3xl-9);
}
.div1315 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.logo17 {
  height: 43px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
  font-size: var(--font-size-mid-2);
}
.ic-action-alarm-on32 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div1316 {
  position: relative;
  line-height: 11px;
}
.text99 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs) var(--padding-11xs)
    var(--padding-11xs);
}
.ic-hardware-keyboard-arrow150 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.button110 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-8xs);
}
.div1317,
.vectortabs {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.vectortabs {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support34 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-action-shopping-basket17 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -14.5px;
  left: -13px;
  overflow: hidden;
  flex-shrink: 0;
}
.ic-social-plus-one17 {
  height: 8.7px;
  width: 8.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.photo-no {
  height: 13px;
  width: 14px;
  border-radius: 722.22px;
  background-color: var(--color-primary-white);
  border: 0.7px solid var(--color-primary-green-1);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1666665077209473px var(--padding-11xs) 2.1666665077209473px
    2.1666665077209473px;
  z-index: 1;
}
.bag27,
.license-text-frame,
.photo-no {
  display: flex;
  flex-direction: row;
}
.license-text-frame {
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.bag27 {
  height: 37px;
  width: 36px;
  border-radius: var(--br-981xl);
  border: 1px solid var(--color-primary-green-1);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-4xl) 0 0 var(--padding-4xl);
}
.image-110 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4%;
  right: -2.8%;
  bottom: -9.6%;
  left: -2.8%;
  background-color: var(--color-primary-green-2);
}
.bag28,
.ic-action-exit-to-app132 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bag28 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
}
.ic-action-exit-to-app132 {
  height: 16px;
  width: 16px;
  display: none;
}
.ic-action-exit-to-app-wrapper32 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div1318 {
  position: relative;
  line-height: 11px;
}
.l-o-g-o {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow151 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons17,
.select34,
.support-buttons17 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.select34 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-7xs)
    var(--padding-3xs);
}
.buttons17,
.support-buttons17 {
  flex: 1;
  align-items: flex-end;
  color: var(--color-primary-gray-1);
}
.support-buttons17 {
  flex: 0.7821;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 var(--padding-102xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-primary-gray-2);
}
.header48,
.line-icon36 {
  align-self: stretch;
  max-width: 100%;
}
.header48 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.line-icon36 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.tab-child61 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  min-width: 118px;
}
.tab-child62 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab68 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div1319 {
  position: relative;
  line-height: 110%;
}
.ic-hardware-keyboard-arrow152 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent198 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child63 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab69 {
  width: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.input211 {
  width: calc(100% - 16px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  color: var(--color-primary-gray-2);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 83px;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow153 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent199 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child64 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab70 {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.h314 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow154 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent200 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child65 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab71 {
  width: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.header47,
.menu34,
.sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.menu34 {
  width: 622px;
  align-items: center;
  gap: var(--gap-11xl);
}
.header47,
.sidebar-container {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
}
.header47 {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
  font-family: var(--body-20);
}
.ic-social-person23 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1320 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more166 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu150 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-green-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-primary-green-1);
}
.ic-places-family-restroom6 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1321 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more167 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu151 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-assignment6 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1322 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more168 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu152 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-editor-insert-drive-fil15 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1323 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more169 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu153 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-favorite15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1324 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more170 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu154 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-devices-other15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1325 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more171 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu155 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-credit-card15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1326 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more172 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu156 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-headset-mic15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1327 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more173 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu157,
.main15 {
  align-self: stretch;
  justify-content: flex-start;
}
.item-menu157 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.main15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ic-action-settings15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1328 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more174 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu158 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-exit-to-app133 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1329 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more175 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu159,
.secondary15,
.sidebar17 {
  align-self: stretch;
  justify-content: flex-start;
}
.item-menu159 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.secondary15,
.sidebar17 {
  flex-direction: column;
  align-items: flex-start;
}
.secondary15 {
  display: none;
}
.sidebar17 {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  display: flex;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-height: 237px;
}
.div1330 {
  position: relative;
  line-height: 110%;
}
.wrapper58 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.emptyseparator {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-child {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
}
.div1331 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-item {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date4 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1332 {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-inner {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1333 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.ellipse-div {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date6 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1334 {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-child1 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1335 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child2 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date8 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1336 {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-child3 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1337 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child4 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date10 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1338 {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-child5 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1339 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child6 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date12 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1340 {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-child7 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1341 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child8 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date14 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1342 {
  width: 30px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.date-child9 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-primary-white);
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1343 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child10 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date16 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1344 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child11 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date17 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1345 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child12 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date18 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1346 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child13 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date19 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1347 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child14 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date20 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1348 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child15 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date21 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1349 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child16 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date22 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1350 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child17 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date23 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1351 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child18 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date24 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1352 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child19 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date25 {
  width: 44px;
  border-radius: var(--br-8xs);
  background-color: var(--color-primary-green-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
  color: var(--color-primary-green-1);
}
.div1353 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child20 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date26 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1354 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child21 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date27 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1355 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child22 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date28 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1356 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child23 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date29 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1357 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child24 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date30 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1358 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child25 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date31 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1359 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child26 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date32 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1360 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child27 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date33 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1361 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child28 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date34 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1362 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child29 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date35 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1363 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child30 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date36 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1364 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child31 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date37 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1365 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child32 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date38 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
  color: var(--color-primary-gray-3);
}
.div1366 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child33 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date39 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1367 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child34 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date40 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
  color: var(--color-primary-gray-3);
}
.div1368 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child35 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date41 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1369 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child36 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date42 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
  color: var(--color-primary-gray-3);
}
.div1370 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child37 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date43 {
  width: 44px;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
}
.div1371 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.date-child38 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-green-1);
  display: none;
}
.date44,
.month-selector {
  display: flex;
  flex-direction: row;
}
.date44 {
  width: 44px;
  background-color: var(--color-primary-white);
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 18px;
  margin-left: -2.63px;
  color: var(--color-primary-gray-3);
}
.month-selector {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 175px;
  text-align: center;
  font-size: var(--body-14-size);
}
.sidebar18,
.terms-of-use-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sidebar18 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  align-items: center;
  padding: var(--padding-mid) var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
  color: var(--color-primary-gray-1);
}
.terms-of-use-text {
  width: 331px;
  align-items: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.photono-photo-icon6 {
  height: 130px;
  width: 130px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.h130 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.wrapper59 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 450px;
  max-width: 100%;
}
.div1372,
.h26 {
  position: relative;
  line-height: 110%;
}
.h26 {
  margin: 0;
  font-size: var(--body-24-size);
  font-weight: 600;
  font-family: inherit;
  color: var(--color-primary-green-1);
}
.parent201 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-content-add14 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button111,
.frame-parent133 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button111 {
  height: 36px;
  width: 36px;
  border-radius: var(--br-981xl);
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frame-parent133 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.userlabel,
.userlabel-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.userlabel {
  flex-direction: row;
  gap: var(--gap-xl);
}
.userlabel-wrapper {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.label208,
.label209 {
  position: relative;
  line-height: 110%;
}
.label208 {
  margin: 0;
  width: 318px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.label209 {
  align-self: stretch;
}
.content167,
.input212 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content167 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input212 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label210 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content168 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input213,
.secondaryframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input213 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.secondaryframe {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label211 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content169,
.input214 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content169 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input214 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label212 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content170 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input215,
.secondaryframe1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input215 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.secondaryframe1 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.ic-toggle-radio-button-unc12 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1373 {
  height: 11px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.ic-toggle-radio-button-unc-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-che12 {
  border-color: var(--color-primary-green-1);
  accent-color: #27ae60;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1374 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.frame-parent134,
.ic-toggle-radio-button-che-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ic-toggle-radio-button-che-parent6 {
  flex: 1;
  gap: var(--gap-8xs);
  min-width: 123px;
  color: var(--color-primary-green-1);
}
.frame-parent134 {
  align-self: stretch;
  gap: var(--gap-xl);
  min-height: 44px;
}
.primaryframe,
.secondaryframe2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondaryframe2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 238px;
  min-height: 148px;
  font-size: var(--description-size);
}
.primaryframe {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-file-attachment2 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div1375 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
  max-width: calc(100% - 29px);
}
.footer-copyright,
.sidebarframe-wrapper,
.sidebarframe1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-copyright {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.sidebarframe-wrapper,
.sidebarframe1 {
  flex-direction: column;
}
.sidebarframe1 {
  align-items: flex-start;
  gap: var(--gap-xl);
}
.sidebarframe-wrapper {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  align-items: flex-end;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-24-size);
  color: var(--color-primary-green-1);
}
.header-instance1,
.license-frame,
.profileframe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.profileframe {
  flex: 1;
  flex-direction: column;
  min-width: 671px;
  font-size: var(--h1-size);
  color: var(--color-primary-gray-1);
}
.header-instance1,
.license-frame {
  align-self: stretch;
}
.license-frame {
  flex-direction: row;
  flex-wrap: wrap;
}
.header-instance1 {
  flex-direction: column;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.h315 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.div1376 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.h316 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.div1377 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div1379 {
  position: relative;
  line-height: 100%;
}
.ic-navigation-expand-more176 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.submenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.div1378 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.h317 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.div1380,
.menu35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.menu35 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.div1381,
.div1382 {
  position: relative;
  line-height: 110%;
}
.div1381 {
  align-self: stretch;
}
.div1382 {
  display: inline-block;
  max-width: 100%;
}
.a16 {
  color: inherit;
}
.div1383 {
  position: relative;
  line-height: 110%;
  display: inline-block;
  max-width: 100%;
}
.copyright17,
.menu-copyright17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.copyright17 {
  width: 650px;
  gap: var(--gap-8xs);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-1);
}
.menu-copyright17 {
  flex: 1;
  gap: var(--gap-11xl);
  min-width: 735px;
}
.contact-link,
.div1384 {
  position: relative;
  line-height: 110%;
}
.contact-link {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support35 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div1314,
.footer20 {
  display: flex;
  box-sizing: border-box;
}
.footer20 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-lg);
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.div1314 {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-green-2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
  gap: var(--gap-70xl);
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .h130 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .userlabel {
    flex-wrap: wrap;
  }
  .secondaryframe2 {
    min-height: auto;
  }
  .primaryframe {
    flex-wrap: wrap;
  }
  .menu-copyright17,
  .profileframe {
    min-width: 100%;
  }
  .div1314 {
    gap: var(--gap-70xl);
  }
}
@media screen and (max-width: 700px) {
  .support-buttons17 {
    padding-left: var(--padding-41xl);
    box-sizing: border-box;
  }
  .wrapper59 {
    min-width: 100%;
  }
  .menu35 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .support-buttons17 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .div1320,
  .div1321,
  .div1322,
  .div1323,
  .div1324 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu154 {
    flex-wrap: wrap;
  }
  .div1325 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu155 {
    flex-wrap: wrap;
  }
  .div1326 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu156 {
    flex-wrap: wrap;
  }
  .div1327 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu157 {
    flex-wrap: wrap;
  }
  .div1328 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu158 {
    flex-wrap: wrap;
  }
  .div1329 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu159 {
    flex-wrap: wrap;
  }
  .h130,
  .h26,
  .label208 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .frame-parent134 {
    flex-wrap: wrap;
  }
  .secondaryframe2 {
    gap: var(--gap-17xl);
  }
  .contact-link,
  .div1379,
  .h315,
  .h316,
  .h317 {
    font-size: var(--description-size);
    line-height: 16px;
  }
  .contact-link {
    line-height: 18px;
  }
  .div1314 {
    gap: var(--gap-70xl);
  }
}
