.image-8-icon8 {
  height: 42px;
  width: 38.2px;
  position: relative;
  object-fit: cover;
  min-height: 42px;
}
.p20,
.p21 {
  margin: 0;
}
.p21 {
  font-size: var(--font-size-3xl-9);
}
.div487 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.logo8 {
  height: 43px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
  font-size: var(--font-size-mid-2);
}
.ic-action-alarm-on15 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div488 {
  position: relative;
  line-height: 11px;
}
.text65 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-11xs)
    var(--padding-10xs);
}
.ic-hardware-keyboard-arrow77 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.button66 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs) var(--padding-3xs)
    var(--padding-xs);
  gap: var(--gap-7xs);
}
.div489,
.service-menu {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.service-menu {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support15 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-action-shopping-basket8,
.ic-social-plus-one8 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ic-social-plus-one8 {
  height: 8.7px;
  width: 8.7px;
}
.bag13,
.input-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.input-section {
  height: 14px;
  width: 14px;
  margin: 0 !important;
  position: absolute;
  right: -0.5px;
  bottom: 0;
  border-radius: 722.22px;
  background-color: var(--color-primary-white);
  border: 0.7px solid var(--color-primary-green-1);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1666665077209473px var(--padding-11xs) 2.1666665077209473px
    2.1666665077209473px;
  z-index: 1;
}
.bag13 {
  height: 37px;
  width: 36px;
  border-radius: var(--br-981xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  position: relative;
  gap: var(--gap-3xs);
}
.image-15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4%;
  right: -2.8%;
  bottom: -9.6%;
  left: -2.8%;
  background-color: var(--color-primary-green-2);
}
.bag14,
.ic-action-exit-to-app77 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bag14 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
}
.ic-action-exit-to-app77 {
  height: 16px;
  width: 16px;
  display: none;
}
.ic-action-exit-to-app-wrapper13 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div490 {
  position: relative;
  line-height: 11px;
}
.frame-personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow78 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons8,
.header25,
.select15,
.support-buttons8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.select15 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-7xs)
    var(--padding-3xs);
}
.buttons8,
.header25,
.support-buttons8 {
  flex: 1;
  align-items: flex-start;
  color: var(--color-primary-gray-1);
}
.header25,
.support-buttons8 {
  flex: 0.7821;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 var(--padding-102xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-primary-gray-2);
}
.header25 {
  margin: 0;
  flex: 1;
  padding: 0 var(--padding-xl) var(--padding-xl);
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
  font-family: var(--body-20);
}
.line-icon24 {
  width: 1344px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.div491 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow79 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent35 {
  width: 191px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child25 {
  width: 191px;
  height: 0;
  position: relative;
}
.div492,
.tab32 {
  align-self: stretch;
  display: flex;
}
.tab32 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div492 {
  flex: 1;
  position: relative;
  line-height: 110%;
  align-items: center;
}
.ic-hardware-keyboard-arrow80 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent36 {
  width: 81px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child26 {
  width: 81px;
  height: 0;
  position: relative;
}
.div493,
.tab33 {
  align-self: stretch;
  display: flex;
}
.tab33 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div493 {
  flex: 1;
  position: relative;
  line-height: 110%;
  align-items: center;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow81 {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent37 {
  width: 155px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child27 {
  width: 155px;
  height: 0;
  position: relative;
}
.div494,
.tab34 {
  align-self: stretch;
  display: flex;
}
.tab34 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div494 {
  flex: 1;
  position: relative;
  line-height: 110%;
  align-items: center;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow82 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent38 {
  width: 101px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child28 {
  width: 101px;
  height: 0;
  position: relative;
}
.tab35 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.header24,
.menu15 {
  flex-direction: row;
  max-width: 100%;
}
.menu15 {
  height: 47px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.header24 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.ic-social-person13 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div495 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more77 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu70 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-green-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-primary-green-1);
}
.ic-action-book1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div496 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more78 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu71 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-supervisor-accou1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div497 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more79 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu72 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-editor-insert-drive-fil7 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div498 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 170px;
}
.ic-navigation-expand-more80 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu73 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-favorite7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div499 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more81 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu74 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-devices-other7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div500 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more82 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu75 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-credit-card7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div501 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more83 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu76 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-headset-mic7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div502 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more84 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu77,
.main7 {
  align-self: stretch;
  justify-content: flex-start;
}
.item-menu77 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.main7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ic-action-settings7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div503 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more85 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu78 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-exit-to-app78 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div504 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more86 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu79 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.secondary7,
.sidebar8 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary7 {
  align-self: stretch;
  display: none;
}
.sidebar8 {
  width: 331px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  display: flex;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.photono-photo-icon5 {
  height: 130px;
  width: 130px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.h124 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.label-birthday {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 467px;
  max-width: 100%;
}
.bag-icon10,
.ic-action-exit-to-app79 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.bag-icon10 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.ic-action-exit-to-app79 {
  height: 16px;
  width: 16px;
}
.ic-action-exit-to-app-wrapper14 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div505 {
  position: relative;
  line-height: 11px;
}
.icon-attach-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow83 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.header26,
.select16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.select16 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-8xs)
    var(--padding-4xs);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.header26 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  align-items: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.label123,
.label124 {
  position: relative;
  line-height: 110%;
}
.label123 {
  margin: 0;
  width: 318px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.label124 {
  align-self: stretch;
}
.content98,
.input133 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content98 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input133 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label125 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content99 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input134,
.user-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input134 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.user-input {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label126 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content100,
.input135 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content100 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input135 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label127 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content101 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input136,
.single-line-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input136 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.single-line-input {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label128 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content102,
.input137 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content102 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input137 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-che9 {
  border-color: var(--color-primary-green-1);
  accent-color: #27ae60;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div508 {
  height: 11px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.ic-toggle-radio-button-che-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-unc9 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div509 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.frame-parent7,
.ic-toggle-radio-button-unc-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ic-toggle-radio-button-unc-parent3 {
  flex: 1;
  gap: var(--gap-8xs);
  min-width: 123px;
  color: var(--color-primary-gray-2);
}
.frame-parent7 {
  align-self: stretch;
  gap: var(--gap-xl);
  min-height: 44px;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
}
.div507,
.ictoggleradiobuttonchecked {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ictoggleradiobuttonchecked {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-17xl);
  min-width: 238px;
}
.div507 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-editor-attach-file7 {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div510 {
  position: relative;
  line-height: 11px;
}
.text66 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
}
.ic-hardware-keyboard-arrow84 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button67 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div506,
.line-icon25 {
  align-self: stretch;
  flex-shrink: 0;
}
.div506 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.line-icon25 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label129,
.label130 {
  position: relative;
  line-height: 110%;
}
.label129 {
  margin: 0;
  width: 318px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.label130 {
  align-self: stretch;
  font-size: var(--body-14-size);
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.content103,
.input138 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content103 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input138 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.content104,
.label131 {
  align-items: center;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
}
.label131 {
  align-self: stretch;
  height: 15px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  text-align: left;
  display: flex;
}
.content104 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--description-size);
  min-width: 190px;
}
.content104,
.input139,
.label132 {
  align-self: stretch;
  display: flex;
}
.input139 {
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label132 {
  height: 15px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
  align-items: center;
}
.ic-action-exit-to-app80 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.attached-file-editor,
.div512 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div512 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.attached-file-editor {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search47 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content105 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input-parent9,
.input140 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input140 {
  align-self: stretch;
  height: 64px;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.input-parent9 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.content106,
.label133 {
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
}
.label133 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  text-align: left;
}
.content106 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--description-size);
  min-width: 190px;
}
.content106,
.input141,
.label134 {
  align-self: stretch;
  display: flex;
}
.input141 {
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label134 {
  height: 15px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
  align-items: center;
}
.ic-action-exit-to-app81 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div513,
.wrapper34 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div513 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper34 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search48 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content107 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.content107,
.input142,
.label135 {
  align-self: stretch;
  display: flex;
}
.input142 {
  height: 64px;
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label135 {
  height: 15px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
  align-items: center;
}
.ic-action-exit-to-app82 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div514,
.wrapper35 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div514 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper35 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search49 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content108 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input-parent10,
.input143 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input143 {
  align-self: stretch;
  height: 64px;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.input-parent10 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.content109,
.label136 {
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
}
.label136 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  text-align: left;
}
.content109 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--description-size);
  min-width: 190px;
}
.content109,
.input144,
.label137 {
  align-self: stretch;
  display: flex;
}
.input144 {
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label137 {
  height: 15px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
  align-items: center;
}
.ic-action-exit-to-app83 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div515,
.wrapper36 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div515 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper36 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search50 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content110 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.content110,
.input145,
.label138 {
  align-self: stretch;
  display: flex;
}
.input145 {
  height: 64px;
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label138 {
  height: 15px;
  position: relative;
  font-size: var(--body-14-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
  align-items: center;
}
.ic-action-exit-to-app84 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div516,
.wrapper37 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div516 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper37 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search51 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content111 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.form,
.input-parent11,
.input146 {
  display: flex;
  align-items: flex-start;
}
.input146 {
  align-self: stretch;
  height: 64px;
  border-radius: var(--br-3xs);
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-8xs);
}
.form,
.input-parent11 {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.input-parent11 {
  flex: 1;
  flex-direction: column;
  min-width: 238px;
}
.form {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
}
.ic-content-add8 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div517,
.text67 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div517 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text67 {
  height: 15px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
}
.ic-hardware-keyboard-arrow85 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button68 {
  width: 264px;
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div511,
.line-icon26 {
  align-self: stretch;
  flex-shrink: 0;
}
.div511 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.line-icon26 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label139,
.label140 {
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.label139 {
  margin: 0;
  width: 318px;
  height: 26px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.label140 {
  align-self: stretch;
  height: 15px;
}
.ic-action-exit-to-app85 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div520,
.wrapper38 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div520 {
  position: relative;
  line-height: 110%;
}
.wrapper38 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search52 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content112 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.content112,
.input147,
.label141 {
  align-self: stretch;
  display: flex;
}
.input147 {
  flex: 1;
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label141 {
  height: 15px;
  position: relative;
  line-height: 110%;
  align-items: center;
}
.ic-action-exit-to-app86 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div521,
.wrapper39 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div521 {
  position: relative;
  line-height: 110%;
}
.wrapper39 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search53 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content113 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.input-parent12,
.input148 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input148 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.input-parent12 {
  height: 148px;
  width: 317.7px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 317.7px;
}
.label142 {
  width: 318px;
  height: 15px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.ic-action-exit-to-app87 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div522,
.wrapper40 {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.div522 {
  height: 11px;
  position: relative;
  line-height: 110%;
}
.wrapper40 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
  box-sizing: border-box;
}
.ic-action-search54 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.content114 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-height: 128px;
  font-size: var(--description-size);
}
.content114,
.div519,
.input-wrapper2,
.input149 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.input149 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div519,
.input-wrapper2 {
  justify-content: flex-start;
}
.input-wrapper2 {
  flex: 1;
  flex-direction: column;
  min-width: 426px;
}
.div519 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-content-add9 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div523,
.text68 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div523 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text68 {
  height: 15px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
}
.ic-hardware-keyboard-arrow86 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button69 {
  width: 267px;
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div518,
.line-icon27 {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.div518 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.line-icon27 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.label143 {
  margin: 0;
  width: 318px;
  height: 26px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.ic-editor-attach-file8 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div525,
.text69 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div525 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text69 {
  height: 15px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
}
.ic-hardware-keyboard-arrow87 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button70 {
  width: 271px;
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div524 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.body19,
.body20,
.forms4 {
  display: flex;
  gap: var(--gap-xl);
  max-width: 100%;
}
.forms4 {
  align-self: stretch;
  height: 440px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-24-size);
  color: var(--color-primary-green-1);
}
.body19,
.body20 {
  align-items: flex-start;
}
.body20 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 671px;
  font-size: var(--h1-size);
  color: var(--color-primary-gray-1);
}
.body19 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.div527 {
  position: relative;
  line-height: 100%;
}
.div526 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div529 {
  position: relative;
  line-height: 100%;
}
.div528 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div531 {
  position: relative;
  line-height: 100%;
}
.ic-navigation-expand-more87 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.other-services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.div530 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div533 {
  position: relative;
  line-height: 100%;
}
.div532,
.menu16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.menu16 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.div534,
.div535 {
  position: relative;
  line-height: 110%;
}
.div534 {
  align-self: stretch;
}
.div535 {
  display: inline-block;
  max-width: 100%;
}
.a7 {
  color: inherit;
}
.div536 {
  position: relative;
  line-height: 110%;
  display: inline-block;
  max-width: 100%;
}
.copyright8,
.menu-copyright8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.copyright8 {
  width: 650px;
  gap: var(--gap-8xs);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-1);
}
.menu-copyright8 {
  flex: 1;
  gap: var(--gap-11xl);
  min-width: 735px;
}
.div537,
.footer-menu2 {
  position: relative;
  line-height: 110%;
}
.footer-menu2 {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support16 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div486,
.footer8 {
  display: flex;
  box-sizing: border-box;
}
.footer8 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-lg);
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.div486 {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-green-2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
  gap: var(--gap-xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .service-menu {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .h124 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .div507,
  .form,
  .header26 {
    flex-wrap: wrap;
  }
  .input-parent12 {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .div519 {
    flex-wrap: wrap;
  }
  .forms4 {
    height: auto;
  }
  .body20,
  .menu-copyright8 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .support-buttons8 {
    padding-left: var(--padding-41xl);
    box-sizing: border-box;
  }
  .input-wrapper2,
  .label-birthday {
    min-width: 100%;
  }
  .menu16 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .support-buttons8 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .div495,
  .div496,
  .div497,
  .div498 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu73 {
    flex-wrap: wrap;
  }
  .div499 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu74 {
    flex-wrap: wrap;
  }
  .div500 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu75 {
    flex-wrap: wrap;
  }
  .div501 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu76 {
    flex-wrap: wrap;
  }
  .div502 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu77 {
    flex-wrap: wrap;
  }
  .div503 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu78 {
    flex-wrap: wrap;
  }
  .div504 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu79 {
    flex-wrap: wrap;
  }
  .h124,
  .label123 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .ictoggleradiobuttonchecked {
    gap: var(--gap-17xl);
  }
  .label129,
  .label139,
  .label143 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .div527,
  .div529,
  .div531,
  .div533,
  .footer-menu2 {
    font-size: var(--description-size);
    line-height: 16px;
  }
  .footer-menu2 {
    line-height: 18px;
  }
}
