.image-8-icon1 {
  height: 42px;
  width: 38.2px;
  position: relative;
  object-fit: cover;
  min-height: 42px;
}
.p2,
.p3 {
  margin: 0;
}
.p3 {
  font-size: var(--font-size-3xl-9);
}
.div149 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.logo1 {
  height: 43px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-mid-2);
}
.ic-action-alarm-on8 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div150 {
  position: relative;
  line-height: 11px;
}
.text22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs) var(--padding-11xs)
    var(--padding-11xs);
}
.ic-hardware-keyboard-arrow10 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.button20 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-xs);
  gap: var(--gap-9xs);
}
.div151,
.footer1 {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.footer1 {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-action-shopping-basket1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -14.5px;
  left: -13px;
  overflow: hidden;
  flex-shrink: 0;
}
.ic-social-plus-one1 {
  height: 8.7px;
  width: 8.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.help-button1,
.rectangle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle {
  height: 13px;
  width: 13px;
  border-radius: 722.22px;
  background-color: var(--color-primary-white);
  border: 0.7px solid var(--color-primary-green-1);
  box-sizing: border-box;
  padding: 2.1666665077209473px var(--padding-11xs) 2.1666665077209473px
    2.1666665077209473px;
  z-index: 1;
}
.help-button1 {
  position: relative;
}
.bag1 {
  height: 37px;
  width: 36px;
  border-radius: var(--br-981xl);
  border: 1px solid var(--color-primary-green-1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-4xl) 0 0 var(--padding-4xl);
}
.image-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4%;
  right: -2.8%;
  bottom: -9.6%;
  left: -2.8%;
  background-color: var(--color-primary-green-2);
}
.bag2,
.ic-action-exit-to-app8 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bag2 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
}
.ic-action-exit-to-app8 {
  height: 16px;
  width: 16px;
  display: none;
}
.ic-action-exit-to-app-wrapper1 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div152 {
  position: relative;
  line-height: 11px;
}
.label-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons1,
.select3,
.support-buttons1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.select3 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-7xs)
    var(--padding-3xs);
}
.buttons1,
.support-buttons1 {
  flex: 1;
  align-items: flex-start;
  color: var(--color-primary-gray-1);
}
.support-buttons1 {
  flex: 0.7821;
  align-items: center;
  padding: 0 0 0 var(--padding-103xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-primary-gray-2);
}
.header4,
.line-icon8 {
  align-self: stretch;
  max-width: 100%;
}
.header4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
}
.line-icon8 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.ic-editor-attachfile {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  min-width: 118px;
}
.label-icon {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div153 {
  position: relative;
  line-height: 110%;
}
.ic-hardware-keyboard-arrow12 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child1 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab5 {
  width: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.input18 {
  width: calc(100% - 16px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  color: var(--color-primary-gray-2);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 83px;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow13 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child2 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab6 {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div154 {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow14 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child3 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab7 {
  width: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.header3,
.ic-toggle-radiobuttonchecked,
.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.menu2 {
  width: 622px;
  align-items: center;
  gap: var(--gap-11xl);
}
.header3,
.ic-toggle-radiobuttonchecked {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
}
.header3 {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
  font-family: var(--body-20);
}
.ic-social-person4 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div155 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-green-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-primary-green-1);
}
.ic-places-family-restroom {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div156 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-assignment {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div157 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu2 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-editor-insert-drive-fil {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div158 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more4 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu3 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-favorite {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div159 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu4 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-devices-other {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div160 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu5 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-credit-card {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div161 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu6 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-headset-mic {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div162 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu7,
.main {
  align-self: stretch;
  justify-content: flex-start;
}
.item-menu7 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ic-action-settings {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div163 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu8 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-exit-to-app9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div164 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu9 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.secondary,
.sidebar {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary {
  align-self: stretch;
  display: none;
}
.sidebar {
  width: 331px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  display: flex;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--body-20-size);
}
.photono-photo-icon {
  height: 130px;
  width: 130px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.h19 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.frame-label-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 467px;
  max-width: 100%;
}
.bag-icon3,
.ic-action-exit-to-app10 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.bag-icon3 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.ic-action-exit-to-app10 {
  height: 16px;
  width: 16px;
}
.ic-action-exit-to-app-wrapper2 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div165 {
  position: relative;
  line-height: 11px;
}
.frame-frame-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow15 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.header5,
.select4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.select4 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-8xs)
    var(--padding-4xs);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.header5 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  align-items: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.label10,
.label9 {
  position: relative;
  line-height: 110%;
}
.label9 {
  margin: 0;
  width: 318px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.label10 {
  align-self: stretch;
}
.content5,
.input19 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content5 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input19 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label11 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content6 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.frame-label-content1,
.input20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input20 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-label-content1 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label12 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content7,
.input21 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content7 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input21 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label13 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div168 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.frame-fio-doctor-female {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content8 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.frame-label-content2,
.input22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input22 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-label-content2 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label14 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content9,
.input23 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content9 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input23 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-che1 {
  border-color: var(--color-silver-100);
  accent-color: #c2c2c2;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div169,
.fiowith-name1 {
  display: flex;
  align-items: center;
}
.div169 {
  height: 11px;
  position: relative;
  line-height: 110%;
}
.fiowith-name1 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-unc1 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div170 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.fiowith-name,
.male-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.male-radio {
  flex: 1;
  gap: var(--gap-8xs);
  min-width: 123px;
  color: var(--color-primary-gray-2);
}
.fiowith-name {
  align-self: stretch;
  gap: var(--gap-xl);
  min-height: 44px;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
}
.div167,
.input-fio-doctor-female {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fio-doctor-female {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-17xl);
  min-width: 238px;
}
.div167 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-editor-attach-file {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div171 {
  position: relative;
  line-height: 11px;
}
.text23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
}
.ic-hardware-keyboard-arrow16 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button21 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div166,
.line-icon9 {
  align-self: stretch;
  flex-shrink: 0;
}
.div166 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.line-icon9 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label15,
.label16 {
  position: relative;
  line-height: 110%;
}
.label15 {
  margin: 0;
  width: 318px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.label16 {
  align-self: stretch;
}
.ic-action-exit-to-app12 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div174,
.wrapper1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div174 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper1 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content10,
.input24 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input24 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label17 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app13 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div175,
.last-name-input {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div175 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.last-name-input {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content11,
.input25 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input25 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label18 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app14 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div176,
.wrapper2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div176 {
  position: relative;
  line-height: 110%;
}
.wrapper2 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content12 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.ic-navigation-expandmore,
.input26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input26 {
  align-self: stretch;
  height: 64px;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.ic-navigation-expandmore {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label19 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app15 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div177,
.wrapper3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div177 {
  position: relative;
  line-height: 110%;
}
.wrapper3 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search5 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content13,
.input27 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content13 {
  flex: 1;
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.input27 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label20 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app16 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div178,
.wrapper4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div178 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper4 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search6 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content14,
.input28 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input28 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label21 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app17 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div179,
.wrapper5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div179 {
  position: relative;
  line-height: 110%;
}
.wrapper5 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search7 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content15 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.ic-navigation-expandmore1,
.input29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input29 {
  align-self: stretch;
  height: 64px;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.ic-navigation-expandmore1 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label22 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app18 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div180,
.wrapper6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div180 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper6 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search8 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content16,
.input30 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input30 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label23 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app19 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div181,
.wrapper7 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div181 {
  position: relative;
  font-size: var(--description-size);
  line-height: 110%;
  font-family: var(--body-20);
  color: var(--color-primary-gray-2);
  text-align: left;
}
.wrapper7 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search9 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content17,
.input31 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  background-color: var(--color-primary-gray-4);
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input31 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label24 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-action-exit-to-app20 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div182,
.wrapper8 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div182 {
  position: relative;
  line-height: 110%;
}
.wrapper8 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search10 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content18,
.input32 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content18 {
  flex: 1;
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.input32 {
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div173,
.ic-navigation-expandmore2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.ic-navigation-expandmore2 {
  flex: 1;
  flex-direction: column;
  min-width: 238px;
}
.div173 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-content-add {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div183,
.text24 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div183 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text24 {
  height: 15px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
}
.ic-hardware-keyboard-arrow17 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button22 {
  width: 264px;
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div172,
.line-icon10 {
  align-self: stretch;
  flex-shrink: 0;
}
.div172 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.line-icon10 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label25,
.label26 {
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.label25 {
  margin: 0;
  width: 318px;
  height: 26px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.label26 {
  align-self: stretch;
  height: 15px;
}
.ic-action-exit-to-app21 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div186,
.wrapper9 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div186 {
  position: relative;
  line-height: 110%;
}
.wrapper9 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content19 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.content19,
.input33,
.label27 {
  align-self: stretch;
  display: flex;
}
.input33 {
  flex: 1;
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label27 {
  height: 15px;
  position: relative;
  line-height: 110%;
  align-items: center;
}
.ic-action-exit-to-app22 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div187,
.wrapper10 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.div187 {
  position: relative;
  line-height: 110%;
}
.wrapper10 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search12 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content20 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.input-group,
.input34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input34 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.input-group {
  height: 148px;
  width: 317.7px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 317.7px;
}
.label28 {
  width: 318px;
  height: 15px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.ic-action-exit-to-app23 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div188,
.wrapper11 {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.div188 {
  height: 11px;
  position: relative;
  line-height: 110%;
}
.wrapper11 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
  box-sizing: border-box;
}
.ic-action-search13 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.content21 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-height: 128px;
  font-size: var(--description-size);
}
.content21,
.div185,
.input-wrapper,
.input35 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.input35 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div185,
.input-wrapper {
  justify-content: flex-start;
}
.input-wrapper {
  flex: 1;
  flex-direction: column;
  min-width: 426px;
}
.div185 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-content-add1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div189,
.text25 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div189 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text25 {
  height: 15px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
}
.ic-hardware-keyboard-arrow18 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button23 {
  width: 267px;
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.div184,
.line-icon11 {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.div184 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.line-icon11 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.label29 {
  margin: 0;
  width: 318px;
  height: 26px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.ic-editor-attach-file1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div191,
.text26 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div191 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text26 {
  height: 15px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
}
.ic-hardware-keyboard-arrow19 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button24 {
  width: 271px;
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.body5,
.div190,
.forms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.div190 {
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.body5,
.forms {
  max-width: 100%;
}
.forms {
  align-self: stretch;
  height: 373px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  overflow-y: auto;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-24-size);
  color: var(--color-primary-green-1);
}
.body5 {
  flex: 1;
  align-items: flex-start;
  min-width: 671px;
  color: var(--color-primary-gray-1);
}
.p4,
.p5 {
  margin: 0;
}
.h110,
.h34 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-family: inherit;
}
.h110 {
  height: 70px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.h34 {
  font-weight: 400;
}
.ic-navigation-arrow-forwar6 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div192 {
  position: relative;
  font-size: var(--description-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-green-1);
  text-align: left;
}
.text27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
}
.ic-action-done4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button25 {
  cursor: pointer;
  border: 1px solid var(--color-primary-green-1);
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-981xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  min-width: 143px;
}
.ic-navigation-arrow-forwar7 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div193 {
  position: relative;
  font-size: var(--description-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-white);
  text-align: left;
}
.text28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-2xl);
}
.ic-action-done5 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button26,
.dashboard-header,
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button26 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--color-primary-green-1);
  flex: 1;
  border-radius: var(--br-981xl);
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 143px;
}
.dashboard-header,
.footer-container {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.dashboard-header {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-24-size);
  color: var(--color-primary-gray-1);
}
.body4,
.content4,
.popap3 {
  display: flex;
  max-width: 100%;
}
.popap3 {
  width: 550px;
  margin: 0 !important;
  position: absolute;
  top: 125px;
  right: 400px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  z-index: 2;
  text-align: center;
  color: var(--color-primary-green-1);
}
.body4,
.content4 {
  align-self: stretch;
}
.body4 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xl);
}
.content4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.frame1 {
  width: 1453px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -7px;
  bottom: 0;
  background-color: var(--color-darkslategray-100);
  z-index: 1;
}
.div195 {
  position: relative;
  line-height: 100%;
}
.div194 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div197 {
  position: relative;
  line-height: 100%;
}
.div196 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div199 {
  position: relative;
  line-height: 100%;
}
.ic-navigation-expand-more11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.support-submenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.div198 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div201 {
  position: relative;
  line-height: 100%;
}
.div200,
.menu3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.menu3 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.div202,
.div203 {
  position: relative;
  line-height: 110%;
}
.div202 {
  align-self: stretch;
}
.div203 {
  display: inline-block;
  max-width: 100%;
}
.a1 {
  color: inherit;
}
.div204 {
  position: relative;
  line-height: 110%;
  display: inline-block;
  max-width: 100%;
}
.copyright1,
.menu-copyright2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.copyright1 {
  width: 650px;
  gap: var(--gap-8xs);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-1);
}
.menu-copyright2 {
  flex: 1;
  gap: var(--gap-11xl);
  min-width: 735px;
}
.contact-support,
.div205 {
  position: relative;
  line-height: 110%;
}
.contact-support {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.footer2,
.header-frame {
  display: flex;
  box-sizing: border-box;
}
.footer2 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-lg);
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.header-frame {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-green-2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
  gap: var(--gap-xl);
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .h19 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .div167,
  .div173,
  .header5 {
    flex-wrap: wrap;
  }
  .input-group {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .div185 {
    flex-wrap: wrap;
  }
  .forms {
    height: auto;
  }
  .body5 {
    min-width: 100%;
  }
  .h110 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .menu-copyright2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .support-buttons1 {
    padding-left: var(--padding-42xl);
    box-sizing: border-box;
  }
  .frame-label-content,
  .input-wrapper {
    min-width: 100%;
  }
  .footer-container,
  .menu3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .support-buttons1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .div155,
  .div156,
  .div157,
  .div158,
  .div159 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu4 {
    flex-wrap: wrap;
  }
  .div160 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu5 {
    flex-wrap: wrap;
  }
  .div161 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu6 {
    flex-wrap: wrap;
  }
  .div162 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu7 {
    flex-wrap: wrap;
  }
  .div163 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu8 {
    flex-wrap: wrap;
  }
  .div164 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu9 {
    flex-wrap: wrap;
  }
  .h19,
  .label9 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .fiowith-name {
    flex-wrap: wrap;
  }
  .input-fio-doctor-female {
    gap: var(--gap-17xl);
  }
  .h110,
  .h34,
  .label15,
  .label25,
  .label29 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .contact-support,
  .div195,
  .div197,
  .div199,
  .div201 {
    font-size: var(--description-size);
    line-height: 16px;
  }
  .contact-support {
    line-height: 18px;
  }
}
