.image-8-icon6 {
  height: 42px;
  width: 38.2px;
  position: relative;
  object-fit: cover;
  min-height: 42px;
}
.p16,
.p17 {
  margin: 0;
}
.p17 {
  font-size: var(--font-size-3xl-9);
}
.div420 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.logo6 {
  height: 43px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-mid-2);
}
.ic-action-alarm-on13 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div421 {
  position: relative;
  line-height: 11px;
}
.text58 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-11xs)
    var(--padding-10xs);
}
.ic-hardware-keyboard-arrow59 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.button59 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-8xs);
}
.arrow-down-icon,
.div422 {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.arrow-down-icon {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support12 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-action-shopping-basket6,
.ic-social-plus-one6 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ic-social-plus-one6 {
  height: 8.7px;
  width: 8.7px;
}
.bag10,
.profile-picture {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.profile-picture {
  height: 14px;
  width: 13px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 722.22px;
  background-color: var(--color-primary-white);
  border: 0.7px solid var(--color-primary-green-1);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1666665077209473px var(--padding-11xs) 2.1666665077209473px
    2.1666665077209473px;
  z-index: 1;
}
.bag10 {
  height: 37px;
  width: 36px;
  border-radius: var(--br-981xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  position: relative;
  gap: var(--gap-3xs);
}
.bag-icon7,
.ic-action-exit-to-app71 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bag-icon7 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.ic-action-exit-to-app71 {
  height: 16px;
  width: 16px;
  display: none;
}
.ic-action-exit-to-app-wrapper9 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div423 {
  position: relative;
  line-height: 11px;
  white-space: nowrap;
}
.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow60 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons6,
.header20,
.select11,
.support-buttons6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.select11 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs)
    var(--padding-3xs);
  gap: var(--gap-5xs);
}
.buttons6,
.header20,
.support-buttons6 {
  align-items: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-primary-gray-1);
}
.header20,
.support-buttons6 {
  flex: 0.8375;
  align-items: center;
  padding: 0 0 0 var(--padding-72xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-primary-gray-2);
}
.header20 {
  margin: 0;
  flex: 1;
  padding: 0 var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
  font-family: var(--body-20);
}
.line-icon19 {
  width: 1344px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.div424 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow61 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent27 {
  width: 191px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child17 {
  width: 191px;
  height: 0;
  position: relative;
}
.div425,
.tab24 {
  align-self: stretch;
  display: flex;
}
.tab24 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div425 {
  flex: 1;
  position: relative;
  line-height: 110%;
  align-items: center;
}
.ic-hardware-keyboard-arrow62 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent28 {
  width: 81px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child18 {
  width: 81px;
  height: 0;
  position: relative;
}
.div426,
.tab25 {
  align-self: stretch;
  display: flex;
}
.tab25 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div426 {
  flex: 1;
  position: relative;
  line-height: 110%;
  align-items: center;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow63 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent29 {
  width: 155px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child19 {
  width: 155px;
  height: 0;
  position: relative;
}
.div427,
.tab26 {
  align-self: stretch;
  display: flex;
}
.tab26 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div427 {
  flex: 1;
  position: relative;
  line-height: 110%;
  align-items: center;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow64 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent30 {
  width: 101px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child20 {
  width: 101px;
  height: 0;
  position: relative;
}
.tab27 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.header19,
.menu12 {
  flex-direction: row;
  max-width: 100%;
}
.menu12 {
  height: 47px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.header19 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.ic-social-person10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div428 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more56 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu50 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-green-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-primary-green-1);
}
.ic-places-family-restroom5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div429 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more57 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu51 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-assignment5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div430 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more58 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu52 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-editor-insert-drive-fil5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div431 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more59 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu53 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-favorite5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div432 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more60 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu54 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-devices-other5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div433 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more61 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu55 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-credit-card5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div434 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more62 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu56 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-headset-mic5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div435 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more63 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu57,
.main5 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.item-menu57 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.main5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.ic-action-settings5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.input110 {
  width: calc(100% - 44px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  color: var(--color-primary-gray-2);
  text-align: left;
  display: inline-block;
  min-width: 154px;
}
.ic-navigation-expand-more64 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu58 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-exit-to-app72 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.input111 {
  width: calc(100% - 44px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  color: var(--color-primary-gray-2);
  text-align: left;
  display: inline-block;
  min-width: 154px;
}
.ic-navigation-expand-more65 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.item-menu59,
.secondary5,
.sidebar6 {
  display: flex;
  justify-content: flex-start;
}
.item-menu59 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.secondary5,
.sidebar6 {
  flex-direction: column;
  align-items: flex-start;
}
.secondary5 {
  align-self: stretch;
}
.sidebar6 {
  height: 795px;
  width: 331px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.firstname-label-icon {
  height: 130px;
  width: 130px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.h122 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.ic-social-person11 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div436 {
  position: relative;
  font-size: var(--description-size);
  line-height: 100%;
  font-family: var(--body-20);
  color: var(--color-primary-green-1);
  text-align: left;
}
.specialist-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-8xs);
  background-color: var(--color-primary-green-2);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.specialist-frame1:hover,
.specialist-frame:hover {
  background-color: var(--color-gainsboro-100);
}
.ic-action-room5 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div437 {
  position: relative;
  font-size: var(--description-size);
  line-height: 100%;
  font-family: var(--body-20);
  color: var(--color-primary-green-1);
  text-align: left;
}
.specialist-frame1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-8xs)
    var(--padding-mini);
  background-color: var(--color-primary-green-2);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  white-space: nowrap;
}
.ic-communication-email5 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.sergeymailru1 {
  width: calc(100% - 44px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--description-size);
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 100%;
  color: var(--color-primary-green-1);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 65px;
  white-space: nowrap;
}
.content-frame1,
.delete-icon,
.specialist-frame2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.specialist-frame2 {
  width: 158px;
  border-radius: var(--br-81xl);
  background-color: var(--color-primary-green-2);
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-8xs);
  box-sizing: border-box;
}
.content-frame1,
.delete-icon {
  max-width: 100%;
}
.content-frame1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  min-width: 467px;
}
.bag-icon8,
.ic-action-exit-to-app73 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.bag-icon8 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.ic-action-exit-to-app73 {
  height: 16px;
  width: 16px;
}
.ic-action-exit-to-app-wrapper10 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div438 {
  position: relative;
  line-height: 11px;
}
.doctor-name-input1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow65 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.select12 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-8xs)
    var(--padding-4xs);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.female-radio-button,
.male-radio-button {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.male-radio-button {
  flex-direction: row;
  gap: var(--gap-xl);
}
.female-radio-button {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.label97,
.label98 {
  position: relative;
  line-height: 110%;
}
.label97 {
  margin: 0;
  width: 318px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.label98 {
  align-self: stretch;
}
.content77,
.input112 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content77 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input112 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label99 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content78 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.checkmark-icon,
.input113 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input113 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.checkmark-icon {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label100 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content79,
.input114 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content79 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input114 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label101 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content80 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.checkmark-icon1,
.input115 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input115 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.checkmark-icon1 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.ic-toggle-radio-button-unc7 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div439 {
  height: 11px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.ic-toggle-radio-button-unc-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-che7 {
  border-color: var(--color-primary-green-1);
  accent-color: #27ae60;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div440 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.frame-parent6,
.ic-toggle-radio-button-che-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ic-toggle-radio-button-che-parent2 {
  flex: 1;
  gap: var(--gap-8xs);
  min-width: 123px;
  color: var(--color-primary-green-1);
}
.frame-parent6 {
  align-self: stretch;
  gap: var(--gap-xl);
  min-height: 44px;
}
.checkmark-icon-parent,
.checkmark-icon2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkmark-icon2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 238px;
  min-height: 148px;
  font-size: var(--description-size);
}
.checkmark-icon-parent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.image-1-icon5 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-10xs);
  object-fit: cover;
}
.png1 {
  width: calc(100% - 84px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--description-size);
  background-color: transparent;
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  color: var(--color-primary-green-1);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 84px;
}
.ic-action-delete-outline5 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.image-frame,
.label-container {
  display: flex;
  justify-content: flex-start;
}
.image-frame {
  width: 254px;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-green-2);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.label-container {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.ic-navigation-arrow-forwar22 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.text59 {
  width: calc(100% - 40px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 15px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-white);
  min-width: 103px;
}
.ic-navigation-check {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.button60 {
  width: 217px;
  border-radius: var(--br-981xl);
  background-color: var(--color-primary-gray-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.frame-parent5,
.radio-button-unchecked {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent5 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  align-items: flex-end;
  padding: var(--padding-xl);
  font-size: var(--body-24-size);
  color: var(--color-primary-green-1);
}
.radio-button-unchecked {
  flex: 1;
  align-items: flex-start;
  min-width: 671px;
  max-width: 100%;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--color-primary-gray-1);
  font-family: var(--body-20);
}
.header-frame4,
.primary-sidebar {
  display: flex;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.primary-sidebar {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.header-frame4 {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-green-2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .arrow-down-icon {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .h122 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .male-radio-button {
    flex-wrap: wrap;
  }
  .checkmark-icon2 {
    min-height: auto;
  }
  .checkmark-icon-parent {
    flex-wrap: wrap;
  }
  .radio-button-unchecked {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .support-buttons6 {
    padding-left: var(--padding-26xl);
    box-sizing: border-box;
  }
  .delete-icon {
    flex-wrap: wrap;
  }
  .content-frame1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .support-buttons6 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .div428,
  .div429,
  .div430,
  .div431,
  .div432,
  .div433,
  .div434,
  .div435,
  .input110,
  .input111 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .h122,
  .label97 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .checkmark-icon2 {
    gap: var(--gap-17xl);
  }
}
