.image-8-icon4 {
  height: 42px;
  width: 38.2px;
  position: relative;
  object-fit: cover;
  min-height: 42px;
}
.p10,
.p11 {
  margin: 0;
}
.p11 {
  font-size: var(--font-size-3xl-9);
}
.div346 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.logo4 {
  height: 43px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-mid-2);
}
.ic-action-alarm-on11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div347 {
  position: relative;
  line-height: 11px;
}
.text50 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-11xs)
    var(--padding-10xs);
}
.ic-hardware-keyboard-arrow46 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.button50 {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-8xs);
}
.div348,
.input-frame2 {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.input-frame2 {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-action-shopping-basket4,
.ic-social-plus-one4 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ic-social-plus-one4 {
  height: 8.7px;
  width: 8.7px;
}
.bag6,
.icon-plus-one {
  box-sizing: border-box;
  display: flex;
}
.icon-plus-one {
  width: 13px;
  height: 14px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 722.22px;
  background-color: var(--color-primary-white);
  border: 0.7px solid var(--color-primary-green-1);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1666665077209473px var(--padding-11xs) 2.1666665077209473px
    2.1666665077209473px;
  z-index: 1;
}
.bag6 {
  height: 37px;
  width: 36px;
  border-radius: var(--br-981xl);
  border: 1px solid var(--color-primary-green-1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  position: relative;
  gap: var(--gap-3xs);
}
.image-12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4%;
  right: -2.8%;
  bottom: -9.6%;
  left: -2.8%;
  background-color: var(--color-primary-green-2);
}
.bag7,
.ic-action-exit-to-app65 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bag7 {
  height: 25px;
  width: 25px;
  border-radius: var(--br-981xl);
}
.ic-action-exit-to-app65 {
  height: 16px;
  width: 16px;
  display: none;
}
.ic-action-exit-to-app-wrapper7 {
  height: 16px;
  width: 21px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div349 {
  position: relative;
  line-height: 11px;
}
.userframe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-hardware-keyboard-arrow47 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons4,
.select9,
.support-buttons4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.select9 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-primary-green-1);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-7xs)
    var(--padding-3xs);
}
.buttons4,
.support-buttons4 {
  flex: 1;
  align-items: flex-start;
  color: var(--color-primary-gray-1);
}
.support-buttons4 {
  flex: 0.7821;
  align-items: center;
  padding: 0 0 0 var(--padding-103xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-primary-gray-2);
}
.header16,
.line-icon17 {
  align-self: stretch;
  max-width: 100%;
}
.header16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.line-icon17 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.personalinfoframe {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  min-width: 118px;
}
.inputlabelcontent-icon {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab16 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div350 {
  position: relative;
  line-height: 110%;
}
.ic-hardware-keyboard-arrow48 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child10 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab17 {
  width: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.input97 {
  width: calc(100% - 16px);
  border: 0;
  outline: 0;
  font-family: var(--body-20);
  font-size: var(--body-20-size);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  color: var(--color-primary-gray-2);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 83px;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow49 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child11 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab18 {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.div351 {
  position: relative;
  line-height: 110%;
  white-space: nowrap;
}
.ic-hardware-keyboard-arrow50 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.parent21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.tab-child12 {
  align-self: stretch;
  height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab19 {
  width: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.header15,
.menu8,
.sidebarframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.menu8 {
  width: 622px;
  align-items: center;
  gap: var(--gap-11xl);
}
.header15,
.sidebarframe {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
}
.header15 {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--description-size);
  color: var(--color-primary-green-1);
  font-family: var(--body-20);
}
.ic-social-person8 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div352 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more34 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu30 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-green-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-primary-green-1);
}
.ic-places-family-restroom3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div353 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more35 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu31 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-assignment3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div354 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more36 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu32 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-editor-insert-drive-fil3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div355 {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.ic-navigation-expand-more37 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu33 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-favorite3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div356 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more38 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu34 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-devices-other3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div357 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more39 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu35 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-credit-card3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div358 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more40 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu36 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-hardware-headset-mic3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div359 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more41 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu37,
.main3 {
  align-self: stretch;
  justify-content: flex-start;
}
.item-menu37 {
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.main3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ic-action-settings3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div360 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more42 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu38 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ic-action-exit-to-app66 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div361 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: inline-block;
  min-width: 167px;
}
.ic-navigation-expand-more43 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.item-menu39 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.secondary3,
.sidebar4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary3 {
  align-self: stretch;
  display: none;
}
.sidebar4 {
  width: 331px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  display: flex;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.photono-photo-icon2 {
  height: 130px;
  width: 130px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.helpbutton,
.profile-pic-frame,
.wrapper32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.wrapper32 {
  flex: 1;
  flex-direction: column;
  min-width: 548px;
}
.helpbutton,
.profile-pic-frame {
  align-self: stretch;
}
.profile-pic-frame {
  flex-direction: row;
  gap: var(--gap-xl);
}
.helpbutton {
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.label86,
.label87 {
  position: relative;
  line-height: 110%;
}
.label86 {
  width: 318px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.label87 {
  align-self: stretch;
}
.ic-action-exit-to-app67 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.div362 {
  flex: 1;
  position: relative;
  line-height: 11px;
}
.doctor-name-input {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-10xs);
}
.ic-action-search46 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.content68,
.input98 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content68 {
  background-color: var(--color-primary-gray-4);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--description-size);
}
.input98 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label88 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content69 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input99,
.name-input-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input99 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.name-input-frame {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.label89 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content70,
.input100 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
}
.content70 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  height: 44px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input100 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.label90 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.content71 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-primary-gray-4);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--body-20);
  font-size: var(--description-size);
  color: var(--color-primary-gray-2);
  min-width: 190px;
}
.input101,
.name-input-frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input101 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: center;
  gap: var(--gap-8xs);
}
.name-input-frame1 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 238px;
}
.ic-toggle-radio-button-unc5 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div363 {
  height: 11px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.ic-toggle-radio-button-unc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ic-toggle-radio-button-che5 {
  border-color: var(--color-silver-100);
  accent-color: #c2c2c2;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div364 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
}
.frame-parent3,
.ic-toggle-radio-button-che-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ic-toggle-radio-button-che-container {
  flex: 1;
  gap: var(--gap-8xs);
  min-width: 123px;
  color: var(--color-primary-green-1);
}
.frame-parent3 {
  align-self: stretch;
  gap: var(--gap-xl);
  min-height: 44px;
}
.name-input-frame-parent,
.name-input-frame2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-input-frame2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 238px;
  min-height: 148px;
  font-size: var(--description-size);
}
.name-input-frame-parent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-2);
}
.ic-file-attachment {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attach-btn,
.div365 {
  display: flex;
  align-items: center;
}
.div365 {
  height: 11px;
  flex: 1;
  position: relative;
  line-height: 110%;
  max-width: calc(100% - 29px);
}
.attach-btn {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
  font-size: var(--description-size);
}
.label-group {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.input-label-frame,
.label-group,
.privacypolicy,
.sidebar3 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-label-frame {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-24-size);
  color: var(--color-primary-green-1);
}
.privacypolicy,
.sidebar3 {
  align-items: flex-start;
  gap: var(--gap-xl);
}
.privacypolicy {
  flex: 1;
  flex-direction: column;
  min-width: 671px;
  font-size: var(--h1-size);
  color: var(--color-primary-gray-1);
}
.sidebar3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 563px;
}
.h21,
.p12,
.p13 {
  margin: 0;
}
.h21 {
  height: 70px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.div366,
.h21 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.ic-navigation-arrow-forwar17 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div367 {
  position: relative;
  font-size: var(--description-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-green-1);
  text-align: left;
}
.text51 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-10xs);
}
.ic-action-done11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button51 {
  cursor: pointer;
  border: 1px solid var(--color-primary-green-1);
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-981xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  min-width: 143px;
}
.ic-navigation-arrow-forwar18 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div368 {
  position: relative;
  font-size: var(--description-size);
  line-height: 11px;
  font-family: var(--body-20);
  color: var(--color-primary-white);
  text-align: left;
}
.text52 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-2xl);
}
.ic-action-done12 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button52,
.support-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button52 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--color-primary-green-1);
  flex: 1;
  border-radius: var(--br-981xl);
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 143px;
}
.support-menu {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.service-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-24-size);
  color: var(--color-primary-gray-1);
}
.doctorfioinput,
.popap6 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.popap6 {
  width: 550px;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-31xl);
  gap: var(--gap-11xl);
  z-index: 2;
  margin-top: -451px;
  text-align: center;
  font-size: var(--h1-size);
  color: var(--color-primary-green-1);
}
.doctorfioinput {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  min-height: 563px;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.input-label-content1 {
  width: 1453px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -7px;
  bottom: 0;
  background-color: var(--color-darkslategray-100);
  z-index: 1;
}
.div370 {
  position: relative;
  line-height: 100%;
}
.div369 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div372 {
  position: relative;
  line-height: 100%;
}
.div371 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div374 {
  position: relative;
  line-height: 100%;
}
.ic-navigation-expand-more44 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.div373 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div376 {
  position: relative;
  line-height: 100%;
}
.div375,
.menu9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.menu9 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.div377,
.div378 {
  position: relative;
  line-height: 110%;
}
.div377 {
  align-self: stretch;
}
.div378 {
  display: inline-block;
  max-width: 100%;
}
.a4 {
  color: inherit;
}
.div379 {
  position: relative;
  line-height: 110%;
  display: inline-block;
  max-width: 100%;
}
.copyright5,
.menu-copyright5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.copyright5 {
  width: 650px;
  gap: var(--gap-8xs);
  font-size: var(--body-14-size);
  color: var(--color-primary-gray-1);
}
.menu-copyright5 {
  flex: 1;
  gap: var(--gap-11xl);
  min-width: 735px;
}
.div380,
.other-services-section {
  position: relative;
  line-height: 110%;
}
.other-services-section {
  font-size: var(--body-20-size);
  color: var(--color-primary-green-1);
}
.support9 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-8xs);
  font-size: var(--description-size);
}
.footer5,
.header-container2 {
  display: flex;
  box-sizing: border-box;
}
.footer5 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-primary-white);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-lg);
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-20-size);
  color: var(--color-primary-gray-2);
  font-family: var(--body-20);
}
.header-container2 {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-green-2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
  gap: var(--gap-xl);
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .h2 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .profile-pic-frame {
    flex-wrap: wrap;
  }
  .name-input-frame2 {
    min-height: auto;
  }
  .name-input-frame-parent {
    flex-wrap: wrap;
  }
  .privacypolicy {
    min-width: 100%;
  }
  .h21 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .menu-copyright5 {
    min-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .support-buttons4 {
    padding-left: var(--padding-42xl);
    box-sizing: border-box;
  }
  .wrapper32 {
    min-width: 100%;
  }
  .popap6 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .menu9 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .support-buttons4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .div352,
  .div353,
  .div354,
  .div355,
  .div356 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu34 {
    flex-wrap: wrap;
  }
  .div357 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu35 {
    flex-wrap: wrap;
  }
  .div358 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu36 {
    flex-wrap: wrap;
  }
  .div359 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu37 {
    flex-wrap: wrap;
  }
  .div360 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu38 {
    flex-wrap: wrap;
  }
  .div361 {
    font-size: var(--description-size);
    line-height: 18px;
  }
  .item-menu39 {
    flex-wrap: wrap;
  }
  .h2,
  .label86 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .name-input-frame2 {
    gap: var(--gap-17xl);
  }
  .div366,
  .h21 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .div370,
  .div372,
  .div374,
  .div376,
  .other-services-section {
    font-size: var(--description-size);
    line-height: 16px;
  }
  .other-services-section {
    line-height: 18px;
  }
}
