<div class="row">
  <div class="col-4">
    <div class="button114">
      <div class="sidebar19">
        <div class="main16">
          <div class="item-menu160">
            <img
              class="ic-social-person24"
              alt=""
              src="assets/img/ic--social--person.svg"
            />

            <div class="div1391">Личные данные</div>
            <img class="ic-navigation-expand-more177" alt="" />
          </div>
          <div class="item-menu161">
            <img
              class="ic-places-family-restroom7"
              alt=""
              src="assets/img/ic--places--family-restroom.svg"
            />

            <div class="div1392">Моя семья</div>
            <img class="ic-navigation-expand-more178" alt="" />
          </div>
          <div class="item-menu162">
            <img
              class="ic-action-assignment7"
              alt=""
              src="assets/img/ic--action--assignment.svg"
            />

            <div class="div1393">Мой дневник</div>
            <img class="ic-navigation-expand-more179" alt="" />
          </div>
          <div class="item-menu163">
            <img
              class="ic-editor-insert-drive-fil16"
              alt=""
              src="assets/img/ic--editor--insert-drive-file.svg"
            />

            <div class="div1394">Мои файлы</div>
            <img class="ic-navigation-expand-more180" alt="" />
          </div>
          <div class="item-menu164">
            <img class="ic-action-favorite16" alt="" />

            <div class="div1395">Избранные специалисты</div>
            <img class="ic-navigation-expand-more181" alt="" />
          </div>
          <div class="item-menu165">
            <img class="ic-hardware-devices-other16" alt="" />

            <div class="div1396">Мои устройства</div>
            <img class="ic-navigation-expand-more182" alt="" />
          </div>
          <div class="item-menu166">
            <img class="ic-action-credit-card16" alt="" />

            <div class="div1397">Подписки</div>
            <img class="ic-navigation-expand-more183" alt="" />
          </div>
          <div class="item-menu167">
            <img class="ic-hardware-headset-mic16" alt="" />

            <div class="div1398">Проверка связи</div>
            <img class="ic-navigation-expand-more184" alt="" />
          </div>
        </div>
        <div class="secondary16">
          <div class="item-menu168">
            <img class="ic-action-settings16" alt="" />

            <div class="div1399">Настройки</div>
            <img class="ic-navigation-expand-more185" alt="" />
          </div>
          <div class="item-menu169">
            <img class="ic-action-exit-to-app135" alt="" />

            <div class="div1400">Выйти</div>
            <img class="ic-navigation-expand-more186" alt="" />
          </div>
        </div>
      </div>
      <div class="sidebar20">
        <div class="support37">
          <div class="div1401">Январь, 2024</div>
        </div>
        <div class="button-input">
          <button class="date45">
            <div class="frame-content">Пн</div>
            <div class="date-child39"></div>
          </button>
          <div class="date46">
            <div class="div1402">1</div>
            <div class="frame-input1"></div>
          </div>
          <button class="date47">
            <div class="div1403">Вт</div>
            <div class="date-child40"></div>
          </button>
          <div class="date48">
            <div class="div1404">2</div>
            <div class="date-child41"></div>
          </div>
          <button class="date49">
            <div class="div1405">Ср</div>
            <div class="date-child42"></div>
          </button>
          <div class="date50">
            <div class="div1406">3</div>
            <div class="date-child43"></div>
          </div>
          <button class="date51">
            <div class="div1407">Чт</div>
            <div class="date-child44"></div>
          </button>
          <div class="date52">
            <div class="div1408">4</div>
            <div class="date-child45"></div>
          </div>
          <button class="date53">
            <div class="div1409">Пт</div>
            <div class="date-child46"></div>
          </button>
          <div class="date54">
            <div class="div1410">5</div>
            <div class="date-child47"></div>
          </div>
          <button class="date55">
            <div class="div1411">Сб</div>
            <div class="date-child48"></div>
          </button>
          <div class="date56">
            <div class="div1412">6</div>
            <div class="date-child49"></div>
          </div>
          <button class="date57">
            <div class="div1413">Вс</div>
            <div class="date-child50"></div>
          </button>
          <div class="date58">
            <div class="div1414">7</div>
            <div class="date-child51"></div>
          </div>
          <div class="date59">
            <div class="div1415">8</div>
            <div class="date-child52"></div>
          </div>
          <div class="date60">
            <div class="div1416">15</div>
            <div class="date-child53"></div>
          </div>
          <div class="date61">
            <div class="div1417">9</div>
            <div class="date-child54"></div>
          </div>
          <div class="date62">
            <div class="div1418">16</div>
            <div class="date-child55"></div>
          </div>
          <div class="date63">
            <div class="div1419">10</div>
            <div class="date-child56"></div>
          </div>
          <div class="date64">
            <div class="div1420">17</div>
            <div class="date-child57"></div>
          </div>
          <div class="date65">
            <div class="div1421">11</div>
            <div class="date-child58"></div>
          </div>
          <div class="date66">
            <div class="div1422">18</div>
            <div class="date-child59"></div>
          </div>
          <div class="date67">
            <div class="div1423">12</div>
            <div class="date-child60"></div>
          </div>
          <div class="date68">
            <div class="div1424">19</div>
            <div class="date-child61"></div>
          </div>
          <div class="date69">
            <div class="div1425">13</div>
            <div class="date-child62"></div>
          </div>
          <div class="date70">
            <div class="div1426">20</div>
            <div class="date-child63"></div>
          </div>
          <div class="date71">
            <div class="div1427">14</div>
            <div class="date-child64"></div>
          </div>
          <div class="date72">
            <div class="div1428">21</div>
            <div class="date-child65"></div>
          </div>
          <div class="date73">
            <div class="div1429">22</div>
            <div class="date-child66"></div>
          </div>
          <div class="date74">
            <div class="div1430">29</div>
            <div class="date-child67"></div>
          </div>
          <div class="date75">
            <div class="div1431">23</div>
            <div class="date-child68"></div>
          </div>
          <div class="date76">
            <div class="div1432">30</div>
            <div class="date-child69"></div>
          </div>
          <div class="date77">
            <div class="div1433">24</div>
            <div class="date-child70"></div>
          </div>
          <div class="date78">
            <div class="div1434">31</div>
            <div class="date-child71"></div>
          </div>
          <div class="date79">
            <div class="div1435">25</div>
            <div class="date-child72"></div>
          </div>
          <div class="date80">
            <div class="div1436">1</div>
            <div class="date-child73"></div>
          </div>
          <div class="date81">
            <div class="div1437">26</div>
            <div class="date-child74"></div>
          </div>
          <div class="date82">
            <div class="div1438">2</div>
            <div class="date-child75"></div>
          </div>
          <div class="date83">
            <div class="div1439">27</div>
            <div class="date-child76"></div>
          </div>
          <div class="date84">
            <div class="div1440">3</div>
            <div class="date-child77"></div>
          </div>
          <div class="date85">
            <div class="div1441">28</div>
            <div class="date-child78"></div>
          </div>
          <div class="date86">
            <div class="div1442">4</div>
            <div class="date-child79"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-8">
    <div class="settings-menu">
      <div class="frame-footer1">
        <div class="menu-options1">
          <img
            class="expert-profile-icon"
            loading="eager"
            alt=""
            src="assets/img/frame-480958781@2x.png"
          />

          <div class="expert-info-frame">
            <h1 class="h131">Елена Некрасова</h1>
            <div class="russia-location-text">
              <button class="ic-action-room-parent">
                <img
                  class="ic-action-room8"
                  alt=""
                  src="assets/img/ic--action--room.svg"
                />

                <div class="div1443">Россия, Астрахань</div>
              </button>
              <div class="ic-communication-email-parent">
                <img
                  class="ic-communication-email8"
                  alt=""
                  src="assets/img/ic--communication--email.svg"
                />

                <input
                  class="sergeymailru4"
                  placeholder="sergey@mail.ru"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="frame-balance">
            <div class="frame-main-content">
              <div class="div1444">Ваш баланс:</div>
              <h2 class="h27">0 руб.</h2>
            </div>
            <div class="button115">
              <img
                class="ic-content-add15"
                loading="eager"
                alt=""
                src="assets/img/ic--content--add2.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="doctor-gender-input">
        <div class="doctor-avatar-rectangle">
          <h2 class="label213">Личные данные</h2>
          <div class="delete-button-instance">
            <div class="input-parent23">
              <div class="input217">
                <div class="label214">Ваше ФИО</div>
                <input
                  class="content171"
                  placeholder="Некрасова Елена Петровна"
                  type="text"
                />
              </div>
              <div class="input218">
                <div class="label215">Электронная почта</div>
                <input
                  class="content172"
                  placeholder="ergey@mail.ru"
                  type="text"
                />
              </div>
            </div>
            <div class="input-parent24">
              <div class="input219">
                <div class="label216">Телефон</div>
                <input
                  class="content173"
                  placeholder="8 (800) 1110-22-22"
                  type="text"
                />
              </div>
              <div class="input220">
                <div class="label217">Дата рождения</div>
                <input
                  class="content174"
                  placeholder="10.10.1990"
                  type="text"
                />
              </div>
            </div>
            <div class="delete-button-instance-inner">
              <div class="frame-parent135">
                <div class="ic-toggle-radio-button-unc-parent7">
                  <input
                    class="ic-toggle-radio-button-unc13"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div1445">Женщина</div>
                </div>
                <div class="ic-toggle-radio-button-che-parent7">
                  <input
                    class="ic-toggle-radio-button-che13"
                    checked="{true}"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div1446">Мужчина</div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer21">
            <img
              class="image-1-icon8"
              alt=""
              src="assets/img/image-1@2x.png"
            />

            <input class="png4" placeholder="аватарка.png" type="text" />

            <input class="ic-action-delete-outline16" type="checkbox" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

