<div class="row">
  <section class="body35 col">
    <div class="header53">
      <h3 class="h322">Избранные специалиты</h3>
      <div class="input-parent25">
        <div class="input222">
          <div class="label218">ФИО врача</div>
          <div class="content175">
            <img class="ic-action-exit-to-app137" alt="" />

            <input
              class="online-consultation3"
              placeholder="ФИО врача"
              type="text"
            />

            <img
              class="ic-action-search75"
              alt=""
              src="assets/img/ic--action--search.svg"
            />
          </div>
        </div>
        <div class="button117">
          <img
            class="ic-content-filter-list1"
            loading="eager"
            alt=""
            src="assets/img/ic--content--filter-list.svg"
          />

          <div class="text102">
            <div class="div1463">Фильтр</div>
          </div>
          <img class="ic-action-exit-to-app138" alt="" />
        </div>
      </div>
    </div>
    <div class="specialists1">
      <div class="card-specialist3">
        <div class="portal-dietology-link">
          <img
            class="photo-icon10"
            loading="eager"
            alt=""
            src="assets/img/photo@2x.png"
          />

          <div class="info7">
            <div class="page-title">
              <div class="input-wrapper3">
                <h1 class="h132">Сергей Горякин</h1>
                <button class="select37">
                  <img class="bag-icon26" alt="" />

                  <div class="ic-action-exit-to-app-wrapper35">
                    <img class="ic-action-exit-to-app139" alt="" />
                  </div>
                  <div class="review-text">
                    <div class="div1464">Онлайн</div>
                  </div>
                </button>
              </div>
              <img
                class="favorite-icon3"
                loading="eager"
                alt=""
                src="assets/img/favorite1.svg"
              />
            </div>
            <div class="info8">
              <div class="div1465">
                <img
                  class="ic-social-person25"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--social--person2.svg"
                />

                <div class="div1466">Врач-эксперт</div>
              </div>
              <div class="div1467">
                <img
                  class="ic-action-room9"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--action--room.svg"
                />

                <div class="div1468">Стаж 10 лет</div>
              </div>
              <div class="div1469">
                <img
                  class="ic-communication-email9"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--communication--email.svg"
                />

                <div class="div1470">Портал диетологии</div>
              </div>
            </div>
            <div class="reviews3">
              <div class="text103">
                <div class="div1471">10 отзывов</div>
                <div class="frame-separator">
                  <img
                    class="ic-action-grade14"
                    alt=""
                    src="assets/img/ic--action--grade.svg"
                  />

                  <input
                    class="input223"
                    placeholder="8 из 10"
                    type="text"
                  />
                </div>
              </div>
              <img
                class="ic-navigation-chevron-righ3"
                alt=""
                src="assets/img/ic--navigation--chevron-right.svg"
              />
            </div>
          </div>
          <div class="online-consultation4">
            <div class="title14">
              <div class="title-button5">
                <div class="title15">
                  <h3 class="h323">Онлайн-консультация</h3>
                  <div class="div1472">1500 руб.</div>
                </div>
                <div class="button118">
                  <button class="button119">
                    <img class="ic-action-alarm-on35" alt="" />

                    <div class="text104">
                      <div class="div1473">Все даты</div>
                    </div>
                    <img class="ic-action-anchor14" alt="" />
                  </button>
                  <button class="button120">
                    <img class="ic-action-alarm-on36" alt="" />

                    <div class="text105">
                      <div class="div1474">Выбрать</div>
                    </div>
                    <img class="ic-action-anchor15" alt="" />
                  </button>
                </div>
              </div>
              <img
                class="line-icon39"
                loading="eager"
                alt=""
                src="assets/img/line-1.svg"
              />
            </div>
            <div class="date87">
              <div class="toogle11">
                <button class="toogle-itame100">
                  <div class="div1475">Сегодня</div>
                </button>
                <div class="toogle-itame101">
                  <div class="div1476">20 дек</div>
                </div>
                <div class="toogle-itame102">
                  <div class="div1477">23 дек</div>
                </div>
                <div class="toogle-itame103">
                  <div class="div1478">23 дек</div>
                </div>
                <div class="toogle-itame104">
                  <div class="div1479">23 дек</div>
                </div>
                <div class="toogle-itame105">
                  <div class="div1480">23 дек</div>
                </div>
                <div class="toogle-itame106">
                  <div class="div1481">23 дек</div>
                </div>
                <div class="toogle-itame107">
                  <div class="div1482">23 дек</div>
                </div>
                <div class="toogle-itame108">
                  <div class="div1483">23 дек</div>
                </div>
                <div class="toogle-itame109">
                  <div class="div1484">23 дек</div>
                </div>
              </div>
              <div class="toogle12">
                <button class="toogle-itame110">
                  <div class="div1485">09:00</div>
                </button>
                <div class="toogle-itame111">
                  <div class="div1486">10:00</div>
                </div>
                <div class="toogle-itame112">
                  <div class="div1487">11:00</div>
                </div>
                <div class="toogle-itame113">
                  <div class="div1488">23 дек</div>
                </div>
                <div class="toogle-itame114">
                  <div class="div1489">23 дек</div>
                </div>
                <div class="toogle-itame115">
                  <div class="div1490">23 дек</div>
                </div>
                <div class="toogle-itame116">
                  <div class="div1491">23 дек</div>
                </div>
                <div class="toogle-itame117">
                  <div class="div1492">23 дек</div>
                </div>
                <div class="toogle-itame118">
                  <div class="div1493">23 дек</div>
                </div>
                <div class="toogle-itame119">
                  <div class="div1494">23 дек</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        class="line-icon40"
        loading="eager"
        alt=""
        src="assets/img/line.svg"
      />

      <div class="card-specialist4">
        <div class="photo-parent1">
          <img
            class="photo-icon11"
            loading="eager"
            alt=""
            src="assets/img/photo-1@2x.png"
          />

          <div class="info9">
            <div class="frame-parent136">
              <div class="parent208">
                <h1 class="h133">Елена Петрова</h1>
                <div class="select38">
                  <img class="bag-icon27" alt="" />

                  <div class="ic-action-exit-to-app-wrapper36">
                    <img class="ic-action-exit-to-app140" alt="" />
                  </div>
                  <div class="wrapper60">
                    <div class="div1495">Онлайн</div>
                  </div>
                </div>
              </div>
              <img
                class="favorite-icon4"
                loading="eager"
                alt=""
                src="assets/img/favorite-11.svg"
              />
            </div>
            <div class="info10">
              <div class="div1496">
                <img
                  class="ic-social-person26"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--social--person.svg"
                />

                <div class="div1497">Врач-консультант</div>
              </div>
              <div class="div1498">
                <img
                  class="ic-action-room10"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--action--room-1.svg"
                />

                <div class="div1499">Стаж 3 года</div>
              </div>
              <div class="div1500">
                <img
                  class="ic-communication-email10"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--communication--email-1.svg"
                />

                <div class="div1501">Портал диетологии</div>
              </div>
            </div>
            <div class="reviews4">
              <div class="text106">
                <div class="div1502">5 отзыва</div>
                <div class="ic-action-grade-parent1">
                  <img
                    class="ic-action-grade15"
                    alt=""
                    src="assets/img/ic--action--grade-1.svg"
                  />

                  <input
                    class="input224"
                    placeholder="9 из 10"
                    type="text"
                  />
                </div>
              </div>
              <img
                class="ic-navigation-chevron-righ4"
                alt=""
                src="assets/img/ic--navigation--chevron-right-1.svg"
              />
            </div>
          </div>
          <div class="online-consultation5">
            <div class="title16">
              <div class="title-button6">
                <div class="title17">
                  <h3 class="h324">Онлайн-консультация</h3>
                  <div class="div1503">1350 руб.</div>
                </div>
                <div class="button-parent5">
                  <button class="button121">
                    <img class="ic-action-alarm-on37" alt="" />

                    <div class="text107">
                      <div class="div1504">Все даты</div>
                    </div>
                    <img class="ic-action-anchor16" alt="" />
                  </button>
                  <button class="button122">
                    <img class="ic-action-alarm-on38" alt="" />

                    <div class="text108">
                      <div class="div1505">Выбрать</div>
                    </div>
                    <img class="ic-action-anchor17" alt="" />
                  </button>
                </div>
              </div>
              <img class="line-icon41" alt="" src="assets/img/line-1.svg" />
            </div>
            <div class="date88">
              <div class="toogle13">
                <button class="toogle-itame120">
                  <div class="div1506">Сегодня</div>
                </button>
                <div class="toogle-itame121">
                  <div class="div1507">21 дек</div>
                </div>
                <div class="toogle-itame122">
                  <div class="div1508">25 дек</div>
                </div>
                <div class="toogle-itame123">
                  <div class="div1509">23 дек</div>
                </div>
                <div class="toogle-itame124">
                  <div class="div1510">23 дек</div>
                </div>
                <div class="toogle-itame125">
                  <div class="div1511">23 дек</div>
                </div>
                <div class="toogle-itame126">
                  <div class="div1512">23 дек</div>
                </div>
                <div class="toogle-itame127">
                  <div class="div1513">23 дек</div>
                </div>
                <div class="toogle-itame128">
                  <div class="div1514">23 дек</div>
                </div>
                <div class="toogle-itame129">
                  <div class="div1515">23 дек</div>
                </div>
              </div>
              <div class="toogle14">
                <button class="toogle-itame130">
                  <div class="div1516">11:00</div>
                </button>
                <div class="toogle-itame131">
                  <div class="div1517">18:30</div>
                </div>
                <div class="toogle-itame132">
                  <div class="div1518">11:00</div>
                </div>
                <div class="toogle-itame133">
                  <div class="div1519">23 дек</div>
                </div>
                <div class="toogle-itame134">
                  <div class="div1520">23 дек</div>
                </div>
                <div class="toogle-itame135">
                  <div class="div1521">23 дек</div>
                </div>
                <div class="toogle-itame136">
                  <div class="div1522">23 дек</div>
                </div>
                <div class="toogle-itame137">
                  <div class="div1523">23 дек</div>
                </div>
                <div class="toogle-itame138">
                  <div class="div1524">23 дек</div>
                </div>
                <div class="toogle-itame139">
                  <div class="div1525">23 дек</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        class="line-icon42"
        loading="eager"
        alt=""
        src="assets/img/line.svg"
      />

      <div class="card-specialist5">
        <div class="photo-parent2">
          <img
            class="photo-icon12"
            loading="eager"
            alt=""
            src="assets/img/photo-2@2x.png"
          />

          <div class="info11">
            <div class="frame-parent137">
              <div class="parent209">
                <h1 class="h134">Тамара Мустафаева</h1>
                <div class="select39">
                  <img class="bag-icon28" alt="" />

                  <div class="ic-action-exit-to-app-wrapper37">
                    <img class="ic-action-exit-to-app141" alt="" />
                  </div>
                  <div class="wrapper61">
                    <div class="div1526">Онлайн</div>
                  </div>
                </div>
              </div>
              <img
                class="favorite-icon5"
                loading="eager"
                alt=""
                src="assets/img/favorite-21.svg"
              />
            </div>
            <div class="info12">
              <div class="div1527">
                <img
                  class="ic-social-person27"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--social--person-2.svg"
                />

                <div class="div1528">Консультант по питанию</div>
              </div>
              <div class="div1529">
                <img
                  class="ic-action-room11"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--action--room-2.svg"
                />

                <div class="div1530">Стаж 5 лет</div>
              </div>
              <div class="div1531">
                <img
                  class="ic-communication-email11"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--communication--email-2.svg"
                />

                <div class="div1532">Портал диетологии</div>
              </div>
            </div>
            <div class="reviews5">
              <div class="text109">
                <div class="div1533">8 отзывов</div>
                <div class="ic-action-grade-parent2">
                  <img
                    class="ic-action-grade16"
                    alt=""
                    src="assets/img/ic--action--grade-2.svg"
                  />

                  <input
                    class="input225"
                    placeholder="9 из 10"
                    type="text"
                  />
                </div>
              </div>
              <img
                class="ic-navigation-chevron-righ5"
                alt=""
                src="assets/img/ic--navigation--chevron-right-1.svg"
              />
            </div>
          </div>
          <div class="online-consultation6">
            <div class="title18">
              <div class="title-button7">
                <div class="title19">
                  <h3 class="h325">Онлайн-консультация</h3>
                  <div class="div1534">1300 руб.</div>
                </div>
                <div class="button-parent6">
                  <button class="button123">
                    <img class="ic-action-alarm-on39" alt="" />

                    <div class="text110">
                      <div class="div1535">Все даты</div>
                    </div>
                    <img class="ic-action-anchor18" alt="" />
                  </button>
                  <button class="button124">
                    <img class="ic-action-alarm-on40" alt="" />

                    <div class="text111">
                      <div class="div1536">Выбрать</div>
                    </div>
                    <img class="ic-action-anchor19" alt="" />
                  </button>
                </div>
              </div>
              <img class="line-icon43" alt="" src="assets/img/line-1.svg" />
            </div>
            <div class="date89">
              <div class="toogle15">
                <button class="toogle-itame140">
                  <div class="div1537">Сегодня</div>
                </button>
                <div class="toogle-itame141">
                  <div class="div1538">22 дек</div>
                </div>
                <div class="toogle-itame142">
                  <div class="div1539">27 дек</div>
                </div>
                <div class="toogle-itame143">
                  <div class="div1540">23 дек</div>
                </div>
                <div class="toogle-itame144">
                  <div class="div1541">23 дек</div>
                </div>
                <div class="toogle-itame145">
                  <div class="div1542">23 дек</div>
                </div>
                <div class="toogle-itame146">
                  <div class="div1543">23 дек</div>
                </div>
                <div class="toogle-itame147">
                  <div class="div1544">23 дек</div>
                </div>
                <div class="toogle-itame148">
                  <div class="div1545">23 дек</div>
                </div>
                <div class="toogle-itame149">
                  <div class="div1546">23 дек</div>
                </div>
              </div>
              <div class="toogle16">
                <button class="toogle-itame150">
                  <div class="div1547">09:30</div>
                </button>
                <div class="toogle-itame151">
                  <div class="div1548">11:30</div>
                </div>
                <div class="toogle-itame152">
                  <div class="div1549">14:00</div>
                </div>
                <div class="toogle-itame153">
                  <div class="div1550">23 дек</div>
                </div>
                <div class="toogle-itame154">
                  <div class="div1551">23 дек</div>
                </div>
                <div class="toogle-itame155">
                  <div class="div1552">23 дек</div>
                </div>
                <div class="toogle-itame156">
                  <div class="div1553">23 дек</div>
                </div>
                <div class="toogle-itame157">
                  <div class="div1554">23 дек</div>
                </div>
                <div class="toogle-itame158">
                  <div class="div1555">23 дек</div>
                </div>
                <div class="toogle-itame159">
                  <div class="div1556">23 дек</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
