<div class="div538">
  <header class="header27">
    <nav class="header28">
      <div class="logo9">
        <img
          class="image-8-icon9"
          loading="eager"
          alt=""
          src="assets/img/image-8@2x.png"
        />

        <div class="div539">
          <p class="p22">Портал</p>
          <p class="p23">
            <b>Диетология</b>
          </p>
        </div>
      </div>
      <div class="button71">
        <img class="ic-action-alarm-on16" alt="" />

        <div class="text70">
          <div class="div540">Санкт-петербург</div>
        </div>
        <img
          class="ic-hardware-keyboard-arrow88"
          alt=""
          src="assets/img/ic--hardware--keyboard-arrow-down.svg"
        />
      </div>
      <div class="support-buttons9">
        <div class="support17">
          <div class="div541">Техническая поддержка</div>
          <div class="docka-add">8 800 111 11 11</div>
        </div>
        <div class="buttons9">
          <div class="bag15">
            <img
              class="ic-action-shopping-basket9"
              loading="eager"
              alt=""
              src="assets/img/ic--action--shopping-basket5.svg"
            />

            <div class="icfileattachment">
              <img
                class="ic-social-plus-one9"
                alt=""
                src="assets/img/ic--social--plus-one.svg"
              />
            </div>
          </div>
          <div class="select17">
            <img class="bag-icon11" alt="" src="assets/img/bag@2x.png" />

            <div class="ic-action-exit-to-app-wrapper15">
              <img class="ic-action-exit-to-app88" alt="" />
            </div>
            <div class="framinglogin">
              <div class="div542">Сергей Горякин</div>
            </div>
            <img
              class="ic-hardware-keyboard-arrow89"
              alt=""
              src="assets/img/ic--hardware--keyboard-arrow-down-13.svg"
            />
          </div>
        </div>
      </div>
    </nav>
    <img class="line-icon28" alt="" />

    <div class="menu17">
      <div class="tab36">
        <div class="parent39">
          <div class="div543">Выбор специалиста</div>
          <img class="ic-hardware-keyboard-arrow90" alt="" />
        </div>
        <img class="tab-child29" alt="" />
      </div>
      <div class="tab37">
        <div class="parent40">
          <div class="div544">Магазин</div>
          <img class="ic-hardware-keyboard-arrow91" alt="" />
        </div>
        <img class="tab-child30" alt="" />
      </div>
      <div class="tab38">
        <div class="parent41">
          <div class="div545">Другие услуги</div>
          <img class="ic-hardware-keyboard-arrow92" alt="" />
        </div>
        <img class="tab-child31" alt="" />
      </div>
      <div class="tab39">
        <div class="parent42">
          <div class="div546">О сервисе</div>
          <img class="ic-hardware-keyboard-arrow93" alt="" />
        </div>
        <img class="tab-child32" alt="" />
      </div>
    </div>
  </header>
  <main class="body21">
    <div class="sidebar9">
      <div class="main8">
        <div class="item-menu80">
          <img
            class="ic-social-person14"
            alt=""
            src="assets/img/ic--social--person.svg"
          />

          <div class="div547">Личные данные</div>
          <img class="ic-navigation-expand-more88" alt="" />
        </div>
        <div class="item-menu81">
          <img
            class="ic-action-book2"
            alt=""
            src="assets/img/ic--action--book.svg"
          />

          <div class="div548">Мои консультации</div>
          <img class="ic-navigation-expand-more89" alt="" />
        </div>
        <div class="item-menu82">
          <img
            class="ic-action-supervisor-accou2"
            alt=""
            src="assets/img/ic--action--supervisor-account.svg"
          />

          <div class="div549">Мои пациенты</div>
          <img class="ic-navigation-expand-more90" alt="" />
        </div>
        <div class="item-menu83">
          <img class="ic-editor-insert-drive-fil8" alt="" />

          <div class="div550">Мои файлы</div>
          <img class="ic-navigation-expand-more91" alt="" />
        </div>
        <div class="item-menu84">
          <img class="ic-action-favorite8" alt="" />

          <div class="div551">Избранные специалисты</div>
          <img class="ic-navigation-expand-more92" alt="" />
        </div>
        <div class="item-menu85">
          <img class="ic-hardware-devices-other8" alt="" />

          <div class="div552">Мои устройства</div>
          <img class="ic-navigation-expand-more93" alt="" />
        </div>
        <div class="item-menu86">
          <img class="ic-action-credit-card8" alt="" />

          <div class="div553">Подписки</div>
          <img class="ic-navigation-expand-more94" alt="" />
        </div>
        <div class="item-menu87">
          <img class="ic-hardware-headset-mic8" alt="" />

          <div class="div554">Проверка связи</div>
          <img class="ic-navigation-expand-more95" alt="" />
        </div>
      </div>
      <div class="secondary8">
        <div class="item-menu88">
          <img class="ic-action-settings8" alt="" />

          <div class="div555">Настройки</div>
          <img class="ic-navigation-expand-more96" alt="" />
        </div>
        <div class="item-menu89">
          <img class="ic-action-exit-to-app89" alt="" />

          <div class="div556">Выйти</div>
          <img class="ic-navigation-expand-more97" alt="" />
        </div>
      </div>
    </div>
    <section class="body22">
      <div class="header29">
        <img
          class="componentgender-icon"
          loading="eager"
          alt=""
          src="assets/img/frame-48095878@2x.png"
        />

        <div class="inputlabelfio">
          <h1 class="h125">Сергей Горякин</h1>
          <div class="badgeframe">
            <button class="navigationcheck">
              <img
                class="ic-social-person15"
                alt=""
                src="assets/img/ic--social--person-12.svg"
              />

              <div class="div557">Специалист</div>
            </button>
            <button class="navigationcheck1">
              <img
                class="ic-action-room6"
                alt=""
                src="assets/img/ic--action--room.svg"
              />

              <div class="div558">Россия, Астрахань</div>
            </button>
            <div class="navigationcheck2">
              <img
                class="ic-communication-email6"
                alt=""
                src="assets/img/ic--communication--email.svg"
              />

              <input
                class="sergeymailru2"
                placeholder="sergey@mail.ru"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="select18">
          <img class="bag-icon12" alt="" />

          <div class="ic-action-exit-to-app-wrapper16">
            <img class="ic-action-exit-to-app90" alt="" />
          </div>
          <div class="buttonlogin">
            <div class="div559">Онлайн</div>
          </div>
          <img
            class="ic-hardware-keyboard-arrow94"
            alt=""
            src="assets/img/ic--hardware--keyboard-arrow-down-32.svg"
          />
        </div>
      </div>
      <div class="forms5">
        <form class="form1">
          <h3 class="label144">Личные данные</h3>
          <div class="tag-document-type-parent">
            <div class="input-parent13">
              <div class="input150">
                <div class="label145">Ваше ФИО</div>
                <input
                  class="content115"
                  placeholder="Горякин Сергей Иванович"
                  type="text"
                />
              </div>
              <div class="input151">
                <div class="label146">Электронная почта</div>
                <input
                  class="content116"
                  placeholder="ergey@mail.ru"
                  type="text"
                />
              </div>
            </div>
            <div class="input-parent14">
              <div class="input152">
                <div class="label147">Телефон</div>
                <input
                  class="content117"
                  placeholder="8 (800) 1110-22-22"
                  type="text"
                />
              </div>
              <div class="input153">
                <div class="label148">Дата рождения</div>
                <input
                  class="content118"
                  placeholder="10.10.1990"
                  type="text"
                />
              </div>
            </div>
            <div class="input-parent15">
              <div class="input154">
                <div class="label149">СНИЛС</div>
                <input
                  class="content119"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
              <div class="frame-parent8">
                <div class="ic-toggle-radio-button-unc-parent4">
                  <input
                    class="ic-toggle-radio-button-unc10"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div560">Женщина</div>
                </div>
                <div class="ic-toggle-radio-button-che-parent4">
                  <input
                    class="ic-toggle-radio-button-che10"
                    checked="{true}"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div561">Мужчина</div>
                </div>
              </div>
            </div>
          </div>
          <button class="image-1-parent">
            <img
              class="image-1-icon6"
              alt=""
              src="assets/img/image-1@2x.png"
            />

            <div class="png2">аватарка.png</div>
            <input class="ic-action-delete-outline6" type="checkbox" />
          </button>
        </form>
        <img
          class="forms-child"
          loading="eager"
          alt=""
          src="assets/img/line-11.svg"
        />

        <div class="div562">
          <h3 class="label150">Образование</h3>
          <div class="text-addjob">
            <div class="frame-education-title">
              <div class="frame-job-title">
                <div class="icnavigationcheck-button">
                  <div class="input155">
                    <div class="label151">Образование</div>
                    <input
                      class="content120"
                      placeholder="Высшее"
                      type="text"
                    />
                  </div>
                  <div class="input156">
                    <div class="label152">Учебное заведение</div>
                    <input
                      class="content121"
                      placeholder="МГУ"
                      type="text"
                    />
                  </div>
                  <div class="input157">
                    <div class="label153">Специальность</div>
                    <input
                      class="content122"
                      placeholder="Название"
                      type="text"
                    />
                  </div>
                </div>
                <div class="icnavigationcheck-button1">
                  <div class="input158">
                    <div class="label154">Год окончания</div>
                    <input
                      class="content123"
                      placeholder="2010"
                      type="text"
                    />
                  </div>
                  <div class="input159">
                    <div class="label155">Данные об аккредитации</div>
                    <input
                      class="content124"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                  <div class="input160">
                    <div class="label156">Данные по ординатуре</div>
                    <input
                      class="content125"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                </div>
                <div class="certificate-attachment">
                  <div class="input161">
                    <div class="label157">Данные по интернатуре</div>
                    <input
                      class="content126"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                  <div class="input162">
                    <div class="label158">Повышение квалификации</div>
                    <input
                      class="content127"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                  <div class="input163">
                    <div class="label159">Специализация</div>
                    <input
                      class="content128"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="vector-title-i-c">
                <div class="label160">Удалить место работы</div>
                <input class="ic-action-delete-outline7" type="checkbox" />
              </div>
            </div>
            <div class="frame-education-title1">
              <div class="frame-parent9">
                <div class="input-parent16">
                  <div class="input164">
                    <div class="label161">Образование</div>
                    <input
                      class="content129"
                      placeholder="Высшее"
                      type="text"
                    />
                  </div>
                  <div class="input165">
                    <div class="label162">Учебное заведение</div>
                    <input
                      class="content130"
                      placeholder="МГУ"
                      type="text"
                    />
                  </div>
                  <div class="input166">
                    <div class="label163">Специальность</div>
                    <input
                      class="content131"
                      placeholder="Название"
                      type="text"
                    />
                  </div>
                </div>
                <div class="input-parent17">
                  <div class="input167">
                    <div class="label164">Год окончания</div>
                    <input
                      class="content132"
                      placeholder="2010"
                      type="text"
                    />
                  </div>
                  <div class="input168">
                    <div class="label165">Данные об аккредитации</div>
                    <input
                      class="content133"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                  <div class="input169">
                    <div class="label166">Данные по ординатуре</div>
                    <input
                      class="content134"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                </div>
                <div class="input-parent18">
                  <div class="input170">
                    <div class="label167">Данные по интернатуре</div>
                    <input
                      class="content135"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                  <div class="input171">
                    <div class="label168">Повышение квалификации</div>
                    <input
                      class="content136"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                  <div class="input172">
                    <div class="label169">Специализация</div>
                    <input
                      class="content137"
                      placeholder="0000 10110101"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="label-parent1">
                <div class="label170">Удалить место работы</div>
                <input class="ic-action-delete-outline8" type="checkbox" />
              </div>
            </div>
          </div>
          <div class="button72">
            <img
              class="ic-content-add10"
              loading="eager"
              alt=""
              src="assets/img/ic--content--add1.svg"
            />

            <div class="text71">
              <div class="div563">Добавить еще образование</div>
            </div>
            <img class="ic-hardware-keyboard-arrow95" alt="" />
          </div>
        </div>
        <img
          class="forms-item"
          loading="eager"
          alt=""
          src="assets/img/line-11.svg"
        />

        <div class="div564">
          <h3 class="label171">О работе</h3>
          <div class="input173">
            <div class="navigation-frame">
              <div class="input174">
                <div class="label172">Стаж работы</div>
                <input class="content138" placeholder="5 лет" type="text" />
              </div>
              <div class="input175">
                <div class="label173">Предыдущие места работы</div>
                <input
                  class="content139"
                  placeholder="Название"
                  type="text"
                />
              </div>
            </div>
            <div class="button-instance">
              <div class="input176">
                <div class="label174">Краткая информация о себе</div>
                <textarea
                  class="content140"
                  placeholder="Пару слов о себе..."
                  rows="{6}"
                  cols="{33}"
                >
                    </textarea>
              </div>
            </div>
          </div>
          <div class="add-content-inst">
            <img
              class="ic-content-add11"
              loading="eager"
              alt=""
              src="assets/img/ic--content--add-1@2x.png"
            />

            <div class="div565">Добавить еще место работы</div>
          </div>
        </div>
        <img
          class="forms-inner"
          loading="eager"
          alt=""
          src="assets/img/line-11.svg"
        />

        <div class="div566">
          <h3 class="label175">Документы</h3>
          <div class="deleteoutline-badge-frame-node">
            <div class="badge4">
              <div class="vector-wrapper1">
                <img
                  class="vector-icon2"
                  alt=""
                  src="assets/img/review-card-instance.svg"
                />
              </div>
              <input
                class="title10"
                placeholder="Диплом_1 (2.5 МБ)"
                type="text"
              />

              <img
                class="ic-action-delete-outline9"
                alt=""
                src="assets/img/ic--action--delete-outline-3.svg"
              />
            </div>
            <div class="badge5">
              <div class="vector-wrapper2">
                <img
                  class="vector-icon3"
                  loading="eager"
                  alt=""
                  src="assets/img/review-card-instance.svg"
                />
              </div>
              <div class="title11">Сертификат (2.5 МБ)</div>
              <img
                class="ic-action-delete-outline10"
                loading="eager"
                alt=""
                src="assets/img/ic--action--delete-outline-3.svg"
              />
            </div>
          </div>
          <div class="button73">
            <input class="ic-editor-attach-file9" type="checkbox" />

            <div class="text72">
              <div class="div567">Выбрать диплом, сертификат</div>
            </div>
            <img class="ic-hardware-keyboard-arrow96" alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer9">
    <div class="menu-copyright9">
      <div class="menu18">
        <div class="div568">
          <div class="div569">Выбор специалиста</div>
        </div>
        <div class="div570">
          <div class="div571">Магазин</div>
        </div>
        <div class="div572">
          <div class="frame-other-u">
            <div class="div573">Другие услуги</div>
            <img
              class="ic-navigation-expand-more98"
              alt=""
              src="assets/img/ic--navigation--expand-more.svg"
            />
          </div>
        </div>
        <div class="div574">
          <div class="div575">О сервисе</div>
        </div>
      </div>
      <div class="copyright9">
        <div class="div576">
          © ООО «ПорталДиетология», г. Москва, ул. Ленина, д. 8.
        </div>
        <div class="div577">
          Лицензия на медицинскую деятельность Л041-01137-77/00325371,
          2015–2024
        </div>
        <div class="div578">
          <a
            class="a8"
            href="https://onlinedoctor.ru/privacy/"
            target="_blank"
          >Условия использования сервиса</a
          >
        </div>
      </div>
    </div>
    <div class="support18">
      <div class="div579">Техническая поддержка</div>
      <div class="copyright-info">8 800 111 11 11</div>
    </div>
  </footer>
</div>
