<div class="div">
  <header class="header">
    <div class="header1">
      <div class="logo">
        <img
          class="image-8-icon"
          loading="eager"
          alt=""
          src="assets/img/image-8@2x.png"
        />

        <div class="div1">
          <p class="p">Портал</p>
          <p class="p1">
            <b>Диетология</b>
          </p>
        </div>
      </div>
      <div class="button">
        <img class="ic-action-alarm-on" alt="" />

        <div class="text">
          <div class="div2">Санкт-петербург</div>
        </div>
        <img
          class="ic-hardware-keyboard-arrow"
          alt=""
          src="assets/img/ic--hardware--keyboard-arrow-down.svg"
        />
      </div>
      <div class="support-buttons">
        <div class="support">
          <div class="div3">Техническая поддержка</div>
          <div class="line-separator">8 800 111 11 11</div>
        </div>
        <div class="buttons">
          <div class="bag">
            <div class="ic-action-shopping-basket-parent">
              <img
                class="ic-action-shopping-basket"
                loading="eager"
                alt=""
                src="assets/img/ic--action--shopping-basket.svg"
              />

              <div class="support-section">
                <img
                  class="ic-social-plus-one"
                  loading="eager"
                  alt=""
                  src="assets/img/ic--social--plus-one.svg"
                />
              </div>
            </div>
          </div>
          <button class="button1">
            <img class="ic-action-alarm-on1" alt="" />

            <div class="text1">
              <div class="div4">Войти</div>
            </div>
            <img
              class="ic-action-exit-to-app"
              alt=""
              src="assets/img/ic--action--exit-to-app.svg"
            />
          </button>
        </div>
      </div>
    </div>
    <img class="line-icon" loading="eager" alt="" src="assets/img/line.svg" />

    <div class="search-icon">
      <div class="menu">
        <div class="tab">
          <div class="content">
            <div class="div5">Выбор специалиста</div>
            <img class="ic-hardware-keyboard-arrow1" alt="" />
          </div>
          <img
            class="icactionsearch-icon"
            alt=""
            src="assets/img/icactionsearch.svg"
          />
        </div>
        <div class="tab1">
          <div class="parent">
            <div class="div6">Магазин</div>
            <img class="ic-hardware-keyboard-arrow2" alt="" />
          </div>
          <img class="tab-child" alt="" />
        </div>
        <div class="tab2">
          <div class="group">
            <input class="input" placeholder="Другие услуги" type="text" />

            <img
              class="ic-hardware-keyboard-arrow3"
              alt=""
              src="assets/img/ic--hardware--keyboard-arrow-down-1.svg"
            />
          </div>
          <img class="tab-item" alt="" />
        </div>
        <div class="tab3">
          <div class="container">
            <div class="div7">О сервисе</div>
            <img class="ic-hardware-keyboard-arrow4" alt="" />
          </div>
          <img class="tab-inner" alt="" />
        </div>
      </div>
    </div>
  </header>
  <main class="reviews-group">
    <section class="toogle">
      <img
        class="toogle-itame-icon"
        loading="eager"
        alt=""
        src="assets/img/frame-95@2x.png"
      />

      <img
        class="toogle-itame-icon1"
        loading="eager"
        alt=""
        src="assets/img/frame-96@2x.png"
      />

      <img
        class="toogle-itame-icon2"
        loading="eager"
        alt=""
        src="assets/img/frame-97@2x.png"
      />
    </section>
    <section class="body">
      <div class="header2">
        <h3 class="h3">Выбрать специалиста</h3>
        <div class="help-button">
          <div class="input1">
            <div class="label">ФИО врача</div>
            <div class="content1">
              <img class="ic-action-exit-to-app1" alt="" />

              <input
                class="frame-profile-info"
                placeholder="ФИО врача"
                type="text"
              />

              <img
                class="ic-action-search"
                alt=""
                src="assets/img/ic--action--search.svg"
              />
            </div>
          </div>
          <div class="button2">
            <img
              class="ic-content-filter-list"
              loading="eager"
              alt=""
              src="assets/img/ic--content--filter-list.svg"
            />

            <div class="text2">
              <div class="div8">Фильтр</div>
            </div>
            <img class="ic-action-exit-to-app2" alt="" />
          </div>
        </div>
      </div>
      <div class="specialists">
        <div class="card-specialist">
          <div class="title-button">
            <img
              class="photo-icon"
              loading="eager"
              alt=""
              src="assets/img/photo@2x.png"
            />

            <div class="info">
              <div class="online-consultation-container">
                <div class="text3">
                  <h1 class="h1" id="text12">Сергей Горякин</h1>
                  <button class="select">
                    <img class="bag-icon" alt="" />

                    <div class="ic-action-exit-to-app-wrapper">
                      <img class="ic-action-exit-to-app3" alt="" />
                    </div>
                    <div class="button3">
                      <div class="div9">Онлайн</div>
                    </div>
                  </button>
                </div>
                <img
                  class="favorite-icon"
                  loading="eager"
                  alt=""
                  src="assets/img/favorite.svg"
                />
              </div>
              <div class="info1">
                <div class="div10">
                  <img
                    class="ic-social-person"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--social--person.svg"
                  />

                  <div class="div11">Врач-эксперт</div>
                </div>
                <div class="div12">
                  <img
                    class="ic-action-room"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--action--room.svg"
                  />

                  <div class="div13">Стаж 10 лет</div>
                </div>
                <div class="div14">
                  <img
                    class="ic-communication-email"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--communication--email.svg"
                  />

                  <div class="div15">Портал диетологии</div>
                </div>
              </div>
              <div class="reviews">
                <div class="text4">
                  <div class="div16">10 отзывов</div>
                  <div class="nav-chevron-right">
                    <img
                      class="ic-action-grade"
                      alt=""
                      src="assets/img/ic--action--grade.svg"
                    />

                    <input
                      class="input2"
                      placeholder="8 из 10"
                      type="text"
                    />
                  </div>
                </div>
                <img
                  class="ic-navigation-chevron-righ"
                  alt=""
                  src="assets/img/ic--navigation--chevron-right.svg"
                />
              </div>
            </div>
            <div class="online-consultation">
              <div class="title">
                <div class="title-button1">
                  <div class="title1">
                    <h3 class="h31">Онлайн-консультация</h3>
                    <div class="div17">1500 руб.</div>
                  </div>
                  <div class="menu-copyright">
                    <button class="button4">
                      <img class="ic-action-alarm-on2" alt="" />

                      <div class="text5">
                        <div class="div18">Все даты</div>
                      </div>
                      <img class="ic-action-anchor" alt="" />
                    </button>
                    <button class="button5">
                      <img class="ic-action-alarm-on3" alt="" />

                      <div class="text6">
                        <div class="div19">Выбрать</div>
                      </div>
                      <img class="ic-action-anchor1" alt="" />
                    </button>
                  </div>
                </div>
                <img class="line-icon1" alt="" src="assets/img/line-1.svg" />
              </div>
              <div class="date">
                <div class="toogle1">
                  <button class="toogle-itame">
                    <div class="div20">Сегодня</div>
                  </button>
                  <div class="toogle-itame1">
                    <div class="div21">20 дек</div>
                  </div>
                  <div class="toogle-itame2">
                    <div class="div22">23 дек</div>
                  </div>
                  <div class="toogle-itame3">
                    <div class="div23">23 дек</div>
                  </div>
                  <div class="toogle-itame4">
                    <div class="div24">23 дек</div>
                  </div>
                  <div class="toogle-itame5">
                    <div class="div25">23 дек</div>
                  </div>
                  <div class="toogle-itame6">
                    <div class="div26">23 дек</div>
                  </div>
                  <div class="toogle-itame7">
                    <div class="div27">23 дек</div>
                  </div>
                  <div class="toogle-itame8">
                    <div class="div28">23 дек</div>
                  </div>
                  <div class="toogle-itame9">
                    <div class="div29">23 дек</div>
                  </div>
                </div>
                <div class="toogle2">
                  <button class="toogle-itame10">
                    <div class="div30">09:00</div>
                  </button>
                  <div class="toogle-itame11">
                    <div class="div31">10:00</div>
                  </div>
                  <div class="toogle-itame12">
                    <div class="div32">11:00</div>
                  </div>
                  <div class="toogle-itame13">
                    <div class="div33">23 дек</div>
                  </div>
                  <div class="toogle-itame14">
                    <div class="div34">23 дек</div>
                  </div>
                  <div class="toogle-itame15">
                    <div class="div35">23 дек</div>
                  </div>
                  <div class="toogle-itame16">
                    <div class="div36">23 дек</div>
                  </div>
                  <div class="toogle-itame17">
                    <div class="div37">23 дек</div>
                  </div>
                  <div class="toogle-itame18">
                    <div class="div38">23 дек</div>
                  </div>
                  <div class="toogle-itame19">
                    <div class="div39">23 дек</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="line-icon2" alt="" src="assets/img/line.svg" />

        <div class="card-specialist1">
          <div class="photo-parent">
            <img class="photo-icon1" alt="" src="assets/img/photo-1@2x.png" />

            <div class="info2">
              <div class="frame-parent">
                <div class="frame-div">
                  <h1 class="h11">Елена Петрова</h1>
                  <div class="select1">
                    <img class="bag-icon1" alt="" />

                    <div class="ic-action-exit-to-app-container">
                      <img class="ic-action-exit-to-app4" alt="" />
                    </div>
                    <div class="wrapper">
                      <div class="div40">Онлайн</div>
                    </div>
                  </div>
                </div>
                <img
                  class="favorite-icon1"
                  alt=""
                  src="assets/img/favorite-1.svg"
                />
              </div>
              <div class="info3">
                <div class="div41">
                  <img
                    class="ic-social-person1"
                    alt=""
                    src="assets/img/ic--social--person.svg"
                  />

                  <div class="div42">Врач-консультант</div>
                </div>
                <div class="div43">
                  <img
                    class="ic-action-room1"
                    alt=""
                    src="assets/img/ic--action--room-1.svg"
                  />

                  <div class="div44">Стаж 3 года</div>
                </div>
                <div class="div45">
                  <img
                    class="ic-communication-email1"
                    alt=""
                    src="assets/img/ic--communication--email-1.svg"
                  />

                  <div class="div46">Портал диетологии</div>
                </div>
              </div>
              <div class="reviews1">
                <div class="text7">
                  <div class="div47">5 отзыва</div>
                  <div class="ic-action-grade-parent">
                    <img
                      class="ic-action-grade1"
                      alt=""
                      src="assets/img/ic--action--grade-1.svg"
                    />

                    <input
                      class="input3"
                      placeholder="9 из 10"
                      type="text"
                    />
                  </div>
                </div>
                <img
                  class="ic-navigation-chevron-righ1"
                  alt=""
                  src="assets/img/ic--navigation--chevron-right-1.svg"
                />
              </div>
            </div>
            <div class="online-consultation1">
              <div class="title2">
                <div class="title-button2">
                  <div class="title3">
                    <h3 class="h32">Онлайн-консультация</h3>
                    <div class="div48">1350 руб.</div>
                  </div>
                  <div class="button-parent">
                    <button class="button6">
                      <img class="ic-action-alarm-on4" alt="" />

                      <div class="text8">
                        <div class="div49">Все даты</div>
                      </div>
                      <img class="ic-action-anchor2" alt="" />
                    </button>
                    <button class="button7">
                      <img class="ic-action-alarm-on5" alt="" />

                      <div class="text9">
                        <div class="div50">Выбрать</div>
                      </div>
                      <img class="ic-action-anchor3" alt="" />
                    </button>
                  </div>
                </div>
                <img class="line-icon3" alt="" src="assets/img/line-1.svg" />
              </div>
              <div class="date1">
                <div class="toogle3">
                  <button class="toogle-itame20">
                    <div class="div51">Сегодня</div>
                  </button>
                  <div class="toogle-itame21">
                    <div class="div52">21 дек</div>
                  </div>
                  <div class="toogle-itame22">
                    <div class="div53">25 дек</div>
                  </div>
                  <div class="toogle-itame23">
                    <div class="div54">23 дек</div>
                  </div>
                  <div class="toogle-itame24">
                    <div class="div55">23 дек</div>
                  </div>
                  <div class="toogle-itame25">
                    <div class="div56">23 дек</div>
                  </div>
                  <div class="toogle-itame26">
                    <div class="div57">23 дек</div>
                  </div>
                  <div class="toogle-itame27">
                    <div class="div58">23 дек</div>
                  </div>
                  <div class="toogle-itame28">
                    <div class="div59">23 дек</div>
                  </div>
                  <div class="toogle-itame29">
                    <div class="div60">23 дек</div>
                  </div>
                </div>
                <div class="toogle4">
                  <button class="toogle-itame30">
                    <div class="div61">11:00</div>
                  </button>
                  <div class="toogle-itame31">
                    <div class="div62">18:30</div>
                  </div>
                  <div class="toogle-itame32">
                    <div class="div63">11:00</div>
                  </div>
                  <div class="toogle-itame33">
                    <div class="div64">23 дек</div>
                  </div>
                  <div class="toogle-itame34">
                    <div class="div65">23 дек</div>
                  </div>
                  <div class="toogle-itame35">
                    <div class="div66">23 дек</div>
                  </div>
                  <div class="toogle-itame36">
                    <div class="div67">23 дек</div>
                  </div>
                  <div class="toogle-itame37">
                    <div class="div68">23 дек</div>
                  </div>
                  <div class="toogle-itame38">
                    <div class="div69">23 дек</div>
                  </div>
                  <div class="toogle-itame39">
                    <div class="div70">23 дек</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="line-icon4" alt="" src="assets/img/line.svg" />

        <div class="card-specialist2">
          <div class="photo-group">
            <img class="photo-icon2" alt="" src="assets/img/photo-2@2x.png" />

            <div class="info4">
              <div class="frame-group">
                <div class="parent1">
                  <h1 class="h12">Тамара Мустафаева</h1>
                  <div class="select2">
                    <img class="bag-icon2" alt="" />

                    <div class="ic-action-exit-to-app-frame">
                      <img class="ic-action-exit-to-app5" alt="" />
                    </div>
                    <div class="frame">
                      <div class="div71">Онлайн</div>
                    </div>
                  </div>
                </div>
                <img
                  class="favorite-icon2"
                  alt=""
                  src="assets/img/favorite-2.svg"
                />
              </div>
              <div class="info5">
                <div class="div72">
                  <img
                    class="ic-social-person2"
                    alt=""
                    src="assets/img/ic--social--person-2.svg"
                  />

                  <div class="div73">Консультант по питанию</div>
                </div>
                <div class="div74">
                  <img
                    class="ic-action-room2"
                    alt=""
                    src="assets/img/ic--action--room-2.svg"
                  />

                  <div class="div75">Стаж 5 лет</div>
                </div>
                <div class="div76">
                  <img
                    class="ic-communication-email2"
                    alt=""
                    src="assets/img/ic--communication--email-2.svg"
                  />

                  <div class="div77">Портал диетологии</div>
                </div>
              </div>
              <div class="reviews2">
                <div class="text10">
                  <div class="div78">8 отзывов</div>
                  <div class="ic-action-grade-group">
                    <img
                      class="ic-action-grade2"
                      alt=""
                      src="assets/img/ic--action--grade-2.svg"
                    />

                    <input
                      class="input4"
                      placeholder="9 из 10"
                      type="text"
                    />
                  </div>
                </div>
                <img
                  class="ic-navigation-chevron-righ2"
                  alt=""
                  src="assets/img/ic--navigation--chevron-right-1.svg"
                />
              </div>
            </div>
            <div class="online-consultation2">
              <div class="title4">
                <div class="title-button3">
                  <div class="title5">
                    <h3 class="h33">Онлайн-консультация</h3>
                    <div class="div79">1300 руб.</div>
                  </div>
                  <div class="button-group">
                    <button class="button8">
                      <img class="ic-action-alarm-on6" alt="" />

                      <div class="text11">
                        <div class="div80">Все даты</div>
                      </div>
                      <img class="ic-action-anchor4" alt="" />
                    </button>
                    <button class="button9">
                      <img class="ic-action-alarm-on7" alt="" />

                      <div class="text12">
                        <div class="div81">Выбрать</div>
                      </div>
                      <img class="ic-action-anchor5" alt="" />
                    </button>
                  </div>
                </div>
                <img class="line-icon5" alt="" src="assets/img/line-1.svg" />
              </div>
              <div class="date2">
                <div class="toogle5">
                  <button class="toogle-itame40">
                    <div class="div82">Сегодня</div>
                  </button>
                  <div class="toogle-itame41">
                    <div class="div83">22 дек</div>
                  </div>
                  <div class="toogle-itame42">
                    <div class="div84">27 дек</div>
                  </div>
                  <div class="toogle-itame43">
                    <div class="div85">23 дек</div>
                  </div>
                  <div class="toogle-itame44">
                    <div class="div86">23 дек</div>
                  </div>
                  <div class="toogle-itame45">
                    <div class="div87">23 дек</div>
                  </div>
                  <div class="toogle-itame46">
                    <div class="div88">23 дек</div>
                  </div>
                  <div class="toogle-itame47">
                    <div class="div89">23 дек</div>
                  </div>
                  <div class="toogle-itame48">
                    <div class="div90">23 дек</div>
                  </div>
                  <div class="toogle-itame49">
                    <div class="div91">23 дек</div>
                  </div>
                </div>
                <div class="toogle6">
                  <button class="toogle-itame50">
                    <div class="div92">09:30</div>
                  </button>
                  <div class="toogle-itame51">
                    <div class="div93">11:30</div>
                  </div>
                  <div class="toogle-itame52">
                    <div class="div94">14:00</div>
                  </div>
                  <div class="toogle-itame53">
                    <div class="div95">23 дек</div>
                  </div>
                  <div class="toogle-itame54">
                    <div class="div96">23 дек</div>
                  </div>
                  <div class="toogle-itame55">
                    <div class="div97">23 дек</div>
                  </div>
                  <div class="toogle-itame56">
                    <div class="div98">23 дек</div>
                  </div>
                  <div class="toogle-itame57">
                    <div class="div99">23 дек</div>
                  </div>
                  <div class="toogle-itame58">
                    <div class="div100">23 дек</div>
                  </div>
                  <div class="toogle-itame59">
                    <div class="div101">23 дек</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="menu-copyright1">
      <div class="menu1">
        <div class="div102">
          <div class="div103">Выбор специалиста</div>
        </div>
        <div class="div104">
          <div class="div105">Магазин</div>
        </div>
        <div class="div106">
          <div class="additional-services">
            <div class="div107">Другие услуги</div>
            <img
              class="ic-navigation-expand-more"
              alt=""
              src="assets/img/ic--navigation--expand-more.svg"
            />
          </div>
        </div>
        <div class="div108">
          <div class="div109">О сервисе</div>
        </div>
      </div>
      <div class="copyright">
        <div class="div110">
          © ООО «ПорталДиетология», г. Москва, ул. Ленина, д. 8.
        </div>
        <div class="div111">
          Лицензия на медицинскую деятельность Л041-01137-77/00325371,
          2015–2024
        </div>
        <div class="div112">
          <a
            class="a"
            href="https://onlinedoctor.ru/privacy/"
            target="_blank"
          >Условия использования сервиса</a
          >
        </div>
      </div>
    </div>
    <div class="support1">
      <div class="div113">Техническая поддержка</div>
      <div class="f-a-q">8 800 111 11 11</div>
    </div>
  </footer>
</div>

<div id="popapPopup" class="popup-overlay" style="display: none">
  <div class="popap">
    <section class="child-frame">
      <div class="photo-container">
        <img
          class="photo-icon3"
          loading="eager"
          alt=""
          src="assets/img/photo1@2x.png"
        />

        <div class="frame-a">
          <h1 class="h13">Сергей Горякин</h1>
          <div class="info6">
            <div class="div114">
              <img
                class="ic-social-person3"
                loading="eager"
                alt=""
                src="assets/img/ic--social--person1.svg"
              />

              <div class="div115">Врач-эксперт</div>
            </div>
            <div class="div116">
              <img
                class="ic-action-room3"
                loading="eager"
                alt=""
                src="assets/img/ic--action--room1.svg"
              />

              <div class="div117">Стаж 10 лет</div>
            </div>
            <div class="div118">
              <img
                class="ic-communication-email3"
                loading="eager"
                alt=""
                src="assets/img/ic--communication--email1.svg"
              />

              <div class="div119">Портал диетологии</div>
            </div>
          </div>
        </div>
        <div class="button10">
          <img
            class="ic-navigation-close"
            loading="eager"
            alt=""
            src="assets/img/ic--navigation--close.svg"
          />
        </div>
      </div>
    </section>
    <section class="f-r-a-m-e">
      <div class="parent-frame-b">
        <div class="div120">
          <h3 class="label1">Образование</h3>
          <div class="label2">Образование</div>
        </div>
        <img
          class="line-icon6"
          loading="eager"
          alt=""
          src="assets/img/line1.svg"
        />

        <div class="div121">
          <h3 class="label3">О работе</h3>
          <div class="label4">Описание работы</div>
        </div>
        <img
          class="line-icon7"
          loading="eager"
          alt=""
          src="assets/img/line1.svg"
        />

        <div class="div122">
          <h3 class="label5">Документы</h3>
          <div class="text-block-b">
            <div class="badge">
              <div class="review-card-instance-wrapper">
                <img
                  class="review-card-instance"
                  alt=""
                  src="assets/img/review-card-instance.svg"
                />
              </div>
              <div class="title6">Диплом_1 (2.5 МБ)</div>
            </div>
            <div class="badge1">
              <div class="vector-wrapper">
                <img
                  class="vector-icon"
                  alt=""
                  src="assets/img/review-card-instance.svg"
                />
              </div>
              <input
                class="title7"
                placeholder="Сертификат (2.5 МБ)"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="frame-with-education-labels">
      <div class="review-frame">
        <h3 class="label6">Отзывы</h3>
        <div class="text13">
          <div class="div123">10 отзывов</div>
          <div class="review-icons">
            <img
              class="ic-action-grade3"
              loading="eager"
              alt=""
              src="assets/img/ic--action--grade.svg"
            />

            <div class="div124">8 из 10</div>
          </div>
        </div>
      </div>
      <div class="review-grade-icons">
        <div class="review-grade-icons1">
          <div class="div125">
            <img
              class="photo-icon4"
              loading="eager"
              alt=""
              src="assets/img/photo-11@2x.png"
            />

            <div class="review-icons1">
              <div class="review-icons2">
                <div class="div126">Елена Петрова</div>
                <div class="review-icons3">
                  <img
                    class="ic-action-grade4"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--action--grade.svg"
                  />

                  <img
                    class="ic-action-grade5"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--action--grade.svg"
                  />

                  <img
                    class="ic-action-grade6"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--action--grade.svg"
                  />

                  <img
                    class="ic-action-grade7"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--action--grade.svg"
                  />

                  <img
                    class="ic-action-grade8"
                    loading="eager"
                    alt=""
                    src="assets/img/ic--action--grade.svg"
                  />
                </div>
              </div>
              <div class="div127">
                Очень советую Сергея! Помог мне с проблемой лишнего веса, за
                3 месяца минус 10 кг!
              </div>
            </div>
          </div>
          <div class="div128">
            <img
              class="photo-icon5"
              loading="eager"
              alt=""
              src="assets/img/photo-11@2x.png"
            />

            <div class="frame-container">
              <div class="parent2">
                <div class="div129">Елена Петрова</div>
                <div class="ic-action-grade-container">
                  <img class="ic-action-grade9" loading="eager" alt="" />

                  <img class="ic-action-grade10" loading="eager" alt="" />

                  <img class="ic-action-grade11" loading="eager" alt="" />

                  <img class="ic-action-grade12" alt="" />

                  <img class="ic-action-grade13" alt="" />
                </div>
              </div>
              <div class="div130">
                Очень советую Сергея! Помог мне с проблемой лишнего веса, за
                3 месяца минус 10 кг!
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  var text12 = document.getElementById("text12");
  if (text12) {
    text12.addEventListener("click", function () {
      var popup = document.getElementById("popapPopup");
      if (!popup) return;
      var popupStyle = popup.style;
      if (popupStyle) {
        popupStyle.display = "flex";
        popupStyle.zIndex = 100;
        popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
        popupStyle.alignItems = "center";
        popupStyle.justifyContent = "center";
      }
      popup.setAttribute("closable", "");

      var onClick =
        popup.onClick ||
        function (e) {
          if (e.target === popup && popup.hasAttribute("closable")) {
            popupStyle.display = "none";
          }
        };
      popup.addEventListener("click", onClick);
    });
  }
</script>
