<footer class="footer">
  <div class="menu-copyright1">
    <div class="menu1">
      <div class="div102">
        <div class="div103">Выбор специалиста</div>
      </div>
      <div class="div104">
        <div class="div105">Магазин</div>
      </div>
      <div class="div106">
        <div class="additional-services">
          <div class="div107">Другие услуги</div>
          <img
            class="ic-navigation-expand-more"
            alt=""
            src="assets/img/ic--navigation--expand-more.svg"
          />
        </div>
      </div>
      <div class="div108">
        <div class="div109">О сервисе</div>
      </div>
    </div>
    <div class="copyright">
      <div class="div110">
        © ООО «ПорталДиетология», г. Москва, ул. Ленина, д. 8.
      </div>
      <div class="div111">
        Лицензия на медицинскую деятельность Л041-01137-77/00325371,
        2015–2024
      </div>
      <div class="div112">
        <a
          class="a"
          href="https://onlinedoctor.ru/privacy/"
          target="_blank"
        >Условия использования сервиса</a
        >
      </div>
    </div>
  </div>
  <div class="support1">
    <div class="div113">Техническая поддержка</div>
    <div class="f-a-q">8 800 111 11 11</div>
  </div>
</footer>
