<div class="row">
  <div class="col-4" style="margin-left: -10px;">
    <div class="sidebar17">
      <div class="main15">
        <div class="item-menu150">
          <img
            class="ic-social-person23"
            alt=""
            src="assets/img/ic--social--person.svg"
          />

          <div class="div1320">Личные данные</div>
          <img class="ic-navigation-expand-more166" alt="" />
        </div>
        <div class="item-menu151">
          <img
            class="ic-places-family-restroom6"
            alt=""
            src="assets/img/ic--places--family-restroom.svg"
          />

          <div class="div1321">Моя семья</div>
          <img class="ic-navigation-expand-more167" alt="" />
        </div>
        <div class="item-menu152">
          <img
            class="ic-action-assignment6"
            alt=""
            src="assets/img/ic--action--assignment.svg"
          />

          <div class="div1322">Мой дневник</div>
          <img class="ic-navigation-expand-more168" alt="" />
        </div>
        <div class="item-menu153">
          <img
            class="ic-editor-insert-drive-fil15"
            alt=""
            src="assets/img/ic--editor--insert-drive-file.svg"
          />

          <div class="div1323">Мои файлы</div>
          <img class="ic-navigation-expand-more169" alt="" />
        </div>
        <div class="item-menu154">
          <img class="ic-action-favorite15" alt="" />

          <div class="div1324">Избранные специалисты</div>
          <img class="ic-navigation-expand-more170" alt="" />
        </div>
        <div class="item-menu155">
          <img class="ic-hardware-devices-other15" alt="" />

          <div class="div1325">Мои устройства</div>
          <img class="ic-navigation-expand-more171" alt="" />
        </div>
        <div class="item-menu156">
          <img class="ic-action-credit-card15" alt="" />

          <div class="div1326">Подписки</div>
          <img class="ic-navigation-expand-more172" alt="" />
        </div>
        <div class="item-menu157">
          <img class="ic-hardware-headset-mic15" alt="" />

          <div class="div1327">Проверка связи</div>
          <img class="ic-navigation-expand-more173" alt="" />
        </div>
      </div>
      <div class="secondary15">
        <div class="item-menu158">
          <img class="ic-action-settings15" alt="" />

          <div class="div1328">Настройки</div>
          <img class="ic-navigation-expand-more174" alt="" />
        </div>
        <div class="item-menu159">
          <img class="ic-action-exit-to-app133" alt="" />

          <div class="div1329">Выйти</div>
          <img class="ic-navigation-expand-more175" alt="" />
        </div>
      </div>
    </div>
    <div class="sidebar18 mt-3">
      <div class="wrapper58">
        <div class="div1330">Январь, 2024</div>
      </div>
      <div class="month-selector">
        <button class="date3">
          <div class="emptyseparator">Пн</div>
          <div class="date-child"></div>
        </button>
        <div class="date4">
          <div class="div1331">1</div>
          <div class="date-item"></div>
        </div>
        <button class="date5">
          <div class="div1332">Вт</div>
          <div class="date-inner"></div>
        </button>
        <div class="date6">
          <div class="div1333">2</div>
          <div class="ellipse-div"></div>
        </div>
        <button class="date7">
          <div class="div1334">Ср</div>
          <div class="date-child1"></div>
        </button>
        <div class="date8">
          <div class="div1335">3</div>
          <div class="date-child2"></div>
        </div>
        <button class="date9">
          <div class="div1336">Чт</div>
          <div class="date-child3"></div>
        </button>
        <div class="date10">
          <div class="div1337">4</div>
          <div class="date-child4"></div>
        </div>
        <button class="date11">
          <div class="div1338">Пт</div>
          <div class="date-child5"></div>
        </button>
        <div class="date12">
          <div class="div1339">5</div>
          <div class="date-child6"></div>
        </div>
        <button class="date13">
          <div class="div1340">Сб</div>
          <div class="date-child7"></div>
        </button>
        <div class="date14">
          <div class="div1341">6</div>
          <div class="date-child8"></div>
        </div>
        <button class="date15">
          <div class="div1342">Вс</div>
          <div class="date-child9"></div>
        </button>
        <div class="date16">
          <div class="div1343">7</div>
          <div class="date-child10"></div>
        </div>
        <div class="date17">
          <div class="div1344">8</div>
          <div class="date-child11"></div>
        </div>
        <div class="date18">
          <div class="div1345">15</div>
          <div class="date-child12"></div>
        </div>
        <div class="date19">
          <div class="div1346">9</div>
          <div class="date-child13"></div>
        </div>
        <div class="date20">
          <div class="div1347">16</div>
          <div class="date-child14"></div>
        </div>
        <div class="date21">
          <div class="div1348">10</div>
          <div class="date-child15"></div>
        </div>
        <div class="date22">
          <div class="div1349">17</div>
          <div class="date-child16"></div>
        </div>
        <div class="date23">
          <div class="div1350">11</div>
          <div class="date-child17"></div>
        </div>
        <div class="date24">
          <div class="div1351">18</div>
          <div class="date-child18"></div>
        </div>
        <div class="date25">
          <div class="div1352">12</div>
          <div class="date-child19"></div>
        </div>
        <div class="date26">
          <div class="div1353">19</div>
          <div class="date-child20"></div>
        </div>
        <div class="date27">
          <div class="div1354">13</div>
          <div class="date-child21"></div>
        </div>
        <div class="date28">
          <div class="div1355">20</div>
          <div class="date-child22"></div>
        </div>
        <div class="date29">
          <div class="div1356">14</div>
          <div class="date-child23"></div>
        </div>
        <div class="date30">
          <div class="div1357">21</div>
          <div class="date-child24"></div>
        </div>
        <div class="date31">
          <div class="div1358">22</div>
          <div class="date-child25"></div>
        </div>
        <div class="date32">
          <div class="div1359">29</div>
          <div class="date-child26"></div>
        </div>
        <div class="date33">
          <div class="div1360">23</div>
          <div class="date-child27"></div>
        </div>
        <div class="date34">
          <div class="div1361">30</div>
          <div class="date-child28"></div>
        </div>
        <div class="date35">
          <div class="div1362">24</div>
          <div class="date-child29"></div>
        </div>
        <div class="date36">
          <div class="div1363">31</div>
          <div class="date-child30"></div>
        </div>
        <div class="date37">
          <div class="div1364">25</div>
          <div class="date-child31"></div>
        </div>
        <div class="date38">
          <div class="div1365">1</div>
          <div class="date-child32"></div>
        </div>
        <div class="date39">
          <div class="div1366">26</div>
          <div class="date-child33"></div>
        </div>
        <div class="date40">
          <div class="div1367">2</div>
          <div class="date-child34"></div>
        </div>
        <div class="date41">
          <div class="div1368">27</div>
          <div class="date-child35"></div>
        </div>
        <div class="date42">
          <div class="div1369">3</div>
          <div class="date-child36"></div>
        </div>
        <div class="date43">
          <div class="div1370">28</div>
          <div class="date-child37"></div>
        </div>
        <div class="date44">
          <div class="div1371">4</div>
          <div class="date-child38"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="profileframe">
      <div class="userlabel-wrapper">
        <div class="userlabel">
          <img
            class="photono-photo-icon6"
            loading="eager"
            alt=""
            src="assets/img/photono-photo4.svg"
          />

          <div class="wrapper59">
            <h1 class="h130">Пользователь</h1>
          </div>
          <div class="frame-parent133">
            <div class="parent201">
              <div class="div1372">Ваш баланс:</div>
              <h2 class="h26">0 руб.</h2>
            </div>
            <div class="button111">
              <img
                class="ic-content-add14"
                loading="eager"
                alt=""
                src="assets/img/ic--content--add.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="sidebarframe-wrapper">
        <div class="sidebarframe1">
          <h2 class="label208">Личные данные</h2>
          <div class="primaryframe">
            <div class="secondaryframe">
              <div class="input212">
                <div class="label209">Ваше ФИО</div>
                <input
                  class="content167"
                  placeholder="Некрасова Елена Петровна"
                  type="text"
                />
              </div>
              <div class="input213">
                <div class="label210">Электронная почта</div>
                <input
                  class="content168"
                  placeholder="ergey@mail.ru"
                  type="text"
                />
              </div>
            </div>
            <div class="secondaryframe1">
              <div class="input214">
                <div class="label211">Телефон</div>
                <input
                  class="content169"
                  placeholder="8 (800) 1110-22-22"
                  type="text"
                />
              </div>
              <div class="input215">
                <div class="label212">Дата рождения</div>
                <input
                  class="content170"
                  placeholder="10.10.1990"
                  type="text"
                />
              </div>
            </div>
            <div class="secondaryframe2">
              <div class="frame-parent134">
                <div class="ic-toggle-radio-button-unc-parent6">
                  <input
                    class="ic-toggle-radio-button-unc12"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div1373">Женщина</div>
                </div>
                <div class="ic-toggle-radio-button-che-parent6">
                  <input
                    class="ic-toggle-radio-button-che12"
                    checked="{true}"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div1374">Мужчина</div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <input class="ic-file-attachment2" type="checkbox" />

            <div class="div1375">Выбрать фотографию профиля</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

