<div class="div441">
  <main class="body17" >
    <div class="sidebar7 ">
      <div class="main6">
        <div class="item-menu60">
          <img
            class="ic-social-person12"
            alt=""
            src="assets/img/ic--social--person.svg"
          />

          <div class="div450">Личные данные</div>
          <img class="ic-navigation-expand-more66" alt="" />
        </div>
        <div class="item-menu61">
          <img
            class="ic-action-book"
            alt=""
            src="assets/img/ic--action--book.svg"
          />

          <div class="div451">Мои консультации</div>
          <img class="ic-navigation-expand-more67" alt="" />
        </div>
        <div class="item-menu62">
          <img
            class="ic-action-supervisor-accou"
            alt=""
            src="assets/img/ic--action--supervisor-account.svg"
          />

          <div class="div452">Мои пациенты</div>
          <img class="ic-navigation-expand-more68" alt="" />
        </div>
        <div class="item-menu63">
          <img class="ic-editor-insert-drive-fil6" alt="" />

          <div class="div453">Мои файлы</div>
          <img class="ic-navigation-expand-more69" alt="" />
        </div>
        <div class="item-menu64">
          <img class="ic-action-favorite6" alt="" />

          <div class="div454">Избранные специалисты</div>
          <img class="ic-navigation-expand-more70" alt="" />
        </div>
        <div class="item-menu65">
          <img class="ic-hardware-devices-other6" alt="" />

          <div class="div455">Мои устройства</div>
          <img class="ic-navigation-expand-more71" alt="" />
        </div>
        <div class="item-menu66">
          <img class="ic-action-credit-card6" alt="" />

          <div class="div456">Подписки</div>
          <img class="ic-navigation-expand-more72" alt="" />
        </div>
        <div class="item-menu67">
          <img class="ic-hardware-headset-mic6" alt="" />

          <div class="div457">Проверка связи</div>
          <img class="ic-navigation-expand-more73" alt="" />
        </div>
      </div>
      <div class="secondary6">
        <div class="item-menu68">
          <img class="ic-action-settings6" alt="" />

          <div class="div458">Настройки</div>
          <img class="ic-navigation-expand-more74" alt="" />
        </div>
        <div class="item-menu69">
          <img class="ic-action-exit-to-app75" alt="" />

          <div class="div459">Выйти</div>
          <img class="ic-navigation-expand-more75" alt="" />
        </div>
      </div>
    </div>
    <section class="body18 ">
      <div class="header23">
        <img
          class="photono-photo-icon4"
          loading="eager"
          alt=""
          src="assets/img/photono-photo2.svg"
        />

        <div class="studies-frame">
          <h1 class="h123">Пользователь</h1>
        </div>
        <div class="select14">
          <img class="bag-icon9" alt="" />

          <div class="ic-action-exit-to-app-wrapper12">
            <img class="ic-action-exit-to-app76" alt="" />
          </div>
          <div class="wrapper33">
            <div class="div460">Онлайн</div>
          </div>
          <img
            class="ic-hardware-keyboard-arrow72"
            alt=""
            src="assets/img/ic--hardware--keyboard-arrow-down-31.svg"
          />
        </div>
      </div>
      <div class="forms3">
        <div class="div461">
          <h3 class="label102">Личные данные</h3>
          <div class="div462">
            <div class="input-field-with-label-array">
              <div class="input116">
                <div class="label103">Ваше ФИО</div>
                <input
                  class="content81"
                  placeholder="Иванов Иван Иванович"
                  type="text"
                />
              </div>
              <div class="input117">
                <div class="label104">Электронная почта</div>
                <input
                  class="content82"
                  placeholder="example@mail.ru"
                  type="text"
                />
              </div>
            </div>
            <div class="input-parent6">
              <div class="input118">
                <div class="label105">Телефон</div>
                <input
                  class="content83"
                  placeholder="8 (800) 1110-22-22"
                  type="text"
                />
              </div>
              <div class="input119">
                <div class="label106">Дата рождения</div>
                <input
                  class="content84"
                  placeholder="10.10.1990"
                  type="text"
                />
              </div>
            </div>
            <div class="input-parent7">
              <div class="input120">
                <div class="label107">СНИЛС</div>
                <input
                  class="content85"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
              <div class="picker-frame">
                <div class="female-toggle">
                  <input
                    class="ic-toggle-radio-button-che8"
                    checked="{true}"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div463">Женщина</div>
                </div>
                <div class="men-label">
                  <input
                    class="ic-toggle-radio-button-unc8"
                    type="radio"
                    name="radioGroup-1"
                  />

                  <div class="div464">Мужчина</div>
                </div>
              </div>
            </div>
          </div>
          <div class="button62">
            <input class="ic-editor-attach-file5" type="checkbox" />

            <div class="text61">
              <div class="div465">Выбрать фотографию профиля</div>
            </div>
            <img class="ic-hardware-keyboard-arrow73" alt="" />
          </div>
        </div>
        <img
          class="line-icon21"
          loading="eager"
          alt=""
          src="assets/img/line-11.svg"
        />

        <div class="div466">
          <h3 class="label108">Образование</h3>
          <div class="div467">
            <div class="profile-fields">
              <div class="input121">
                <div class="label109">Образование</div>
                <input class="content86" placeholder="Высшее" type="text" />
              </div>
              <div class="input122">
                <div class="label110">Учебное заведение</div>
                <input class="content87" placeholder="МГУ" type="text" />
              </div>
              <div class="input123">
                <div class="label111">Специальность</div>
                <input
                  class="content88"
                  placeholder="Название"
                  type="text"
                />
              </div>
            </div>
            <div class="profile-fields1">
              <div class="input124">
                <div class="label112">Год окончания</div>
                <input class="content89" placeholder="2010" type="text" />
              </div>
              <div class="input125">
                <div class="label113">Данные об аккредитации</div>
                <input
                  class="content90"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
              <div class="input126">
                <div class="label114">Данные по ординатуре</div>
                <input
                  class="content91"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
            </div>
            <div class="profile-fields2">
              <div class="input127">
                <div class="label115">Данные по интернатуре</div>
                <input
                  class="content92"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
              <div class="input128">
                <div class="label116">Повышение квалификации</div>
                <input
                  class="content93"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
              <div class="input129">
                <div class="label117">Специализация</div>
                <input
                  class="content94"
                  placeholder="0000 10110101"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="button63">
            <img
              class="ic-content-add6"
              loading="eager"
              alt=""
              src="assets/img/ic--content--add.svg"
            />

            <div class="text62">
              <div class="div468">Добавить еще образование</div>
            </div>
            <img class="ic-hardware-keyboard-arrow74" alt="" />
          </div>
        </div>
        <img
          class="line-icon22"
          loading="eager"
          alt=""
          src="assets/img/line-11.svg"
        />

        <div class="div469">
          <h3 class="label118">О работе</h3>
          <div class="div470">
            <div class="input-parent8">
              <div class="input130">
                <div class="label119">Стаж работы</div>
                <input class="content95" placeholder="5 лет" type="text" />
              </div>
              <div class="input131">
                <div class="label120">Предыдущие места работы</div>
                <input
                  class="content96"
                  placeholder="Название"
                  type="text"
                />
              </div>
            </div>
            <div class="input-wrapper1">
              <div class="input132">
                <div class="label121">Краткая информация о себе</div>
                <textarea
                  class="content97"
                  placeholder="Пару слов о себе..."
                  rows="{6}"
                  cols="{33}"
                >
                    </textarea>
              </div>
            </div>
          </div>
          <div class="button64">
            <img
              class="ic-content-add7"
              loading="eager"
              alt=""
              src="assets/img/ic--content--add.svg"
            />

            <div class="text63">
              <div class="div471">Добавить еще место работы</div>
            </div>
            <img class="ic-hardware-keyboard-arrow75" alt="" />
          </div>
        </div>
        <img
          class="line-icon23"
          loading="eager"
          alt=""
          src="assets/img/line-11.svg"
        />

        <div class="div472">
          <h3 class="label122">Документы</h3>
          <div class="button65">
            <input class="ic-editor-attach-file6" type="checkbox" />

            <div class="text64">
              <div class="div473">Выбрать диплом, сертификат</div>
            </div>
            <img class="ic-hardware-keyboard-arrow76" alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
